[2014-06-23 21:12] CamdenSegal opened #14 "Grunt githooks"
We've had some issues with using grunt githooks and currently they are being used to do compilation and minnification. The earliest hook possible is 'pre-commit' which is what we are currently using, but when this runs files have already been added to the commit so any changes and additions from grunt will not be included with the commit.

I think using grunt githooks makes sense for linting and t

[2014-07-23 16:58] pmgarman opened #19 "Add manual control"
If we include jetpack we should maybe include manual control for it as well.

[2014-08-09 00:25] bradp opened #23 "Theme Check Submodule isn't a direct plugin mirror"
We need to figure out a way to have git just pull in the /trunk folder as the submodule, as https://github.com/Pross/theme-check, which we're using for the submodule is an SVN mirror.

[2015-02-26 22:11] gregrickaby commented on #23
using Otto's mirror now: https://github.com/Otto42/theme-check.git

[2015-02-26 22:11] #23 closed

[2015-02-26 22:12] gregrickaby commented on #19
Agreed, but don't see a Github repo for it...

[2015-02-26 22:13] gregrickaby commented on #14
Just doing some house cleaning, what's the status of this? I leave it to you devs... :smile:

[2015-02-26 22:14] pmgarman commented on #19
Yeah I poked @markjaquith on Twitter about it before, and that got a blank repo made but no code to it yet.

https://github.com/markjaquith/manual-control

[2015-02-26 22:17] gregrickaby commented on #19
Poke @markjaquith some more!! :smile:

[2015-02-26 22:19] jtsternberg commented on #14
I think i've come around to @CamdenSegal's side.. We're all used to running grunt now.. I think it's a non-issue, and not something we need to be doing on a githook.

[2015-02-26 22:19] #14 closed

[2015-02-26 22:21] jtsternberg commented on #19
Poke 'em. :point_right:

[2015-02-27 18:11] gregrickaby opened #31 "Accessibility (a11y)"
In an effort to lead the charge in the WordPress "agency space", WebDevStudios has made a commitment to write more accessible code. It all starts right here, with our project boilerplate.

wd_s is comprised of several other Github repositories. Basically, it's nothing more that a wrapper for submodules. With that in mind, I personally welcome your contributions via pull requests to the following p

[2015-02-27 19:22] pmgarman commented on #19
Maybe we just add the one line of code by ourselves without the plugin :)

`add_filter( 'jetpack_get_default_modules', '__return_empty_array', 99 );`

[2015-02-27 19:40] jtsternberg commented on #19
deal.

[2015-02-27 19:41] pmgarman commented on #19
@jtsternberg doesn't make sense to do that as a whole "plugin" ... Is it "clean enough" of a solution to store one liners like that in the mu-plugin file that does the auto loading?

[2015-02-27 19:44] jtsternberg commented on #19
I wouldn't put it in here: https://github.com/WebDevStudios/wd_s/blob/master/mu-plugins/wds-mu-plugins-include.php
if that's what you mean.

Let's put it in the (now-missing) mu-plugin folder, `wds-mu-plugins` as it's own file, `jetpack-manual-control.php`.

https://github.com/WebDevStudios/wd_s/tree/master/mu-plugins

[2015-02-27 19:45] pmgarman commented on #19
Is the wds-mu-plugins folder going to be a submodule as well, or straight part of the repo?

[2015-02-27 19:46] jtsternberg commented on #19
No, not a submodule.

[2015-02-27 19:50] pmgarman commented on #19
`wds-mu-plugins` ... not sure that name "fits" as well, all the plugins there are "WDS MU Plugins"

Is the folder just going to be for little "quick patch" type fixes like this? Maybe `wds-mu-patches` or something. Open to ideas but just seems like we could find a more suited name?

[2015-02-27 20:43] gregrickaby commented on #19
Hi. There is a jetpack file for our theme...we can put it there.

https://github.com/WebDevStudios/_s/blob/master/inc/jetpack.php

[2015-02-27 20:48] jtsternberg commented on #19
That's a good spot for it @gregrickaby. @pmgarman wds-mu-plugins is meant to be for anything that should always load on the site, and may have translatable strings. I'm not sure it's worth arguing the semantics, so if you feel the name needs to change, you have my blessing.

[2015-02-27 20:50] pmgarman commented on #19
I just wanted to get your opinion about the name, don't think its worth arguing and barely worth a discussion a discussion :D Was just going to put everything together and submit a PR for that too and wanted to do it once the way you wanted it :)

[2015-02-27 21:02] jtsternberg commented on #19
Gotcha. my one and only thought is that wds-mu-plugins is intended to replace the use of mu-plugins, hence the name-mirroring. Patches are plugins, plugins are patches, so semantically, having it mirror the name has a bit more value in that it conveys it's purpose a bit better... maybe. ha!

[2015-02-27 21:24] gregrickaby commented on #19
It's in! Thanks for the discussion.

https://github.com/WebDevStudios/_s/blob/master/inc/jetpack.php#L25

[2015-02-27 21:24] #19 closed

[2015-04-23 14:47] stacyk opened #33 "5) Install Grunt and Dependencies"
The directions are now missing a step after moving our grunt and bower to the theme. We should include the step to cd into the theme folder, then run npm install and bower install.

[2015-04-23 14:50] stacyk opened #34 "Installation Navigation"
On step 2 of the Installation instructions, it says to navigate to the wp-content folder but when you clone this, aren't you supposed to rename wd_s to wp-content? Or am I doing it wrong?

If I am correct, then maybe we should update the instructions to navigate to your root WordPress folder instead.

[2015-04-23 15:40] stacyk opened #35 ".submodules theme-check has typo"
Once cloned, if you look at the .gitmodules file the first line of the theme check submodule should be:

[submodule "plugins/theme-check"]

instead of:

[submodule "theme-check"]

[2015-04-27 13:52] #33 closed

[2015-04-27 13:52] #34 closed

[2015-04-27 13:54] #35 closed

[2015-04-27 17:15] stacyk opened #36 "Missing Step 3"
https://github.com/WebDevStudios/wd_s#manual-installation

Probably just needs to be re-ordered.

[2015-05-06 15:51] #36 closed

[2015-05-12 13:28] jtsternberg opened #37 "Consider replacing CPT_Core with @johnbillion's Extended CPTs"
https://github.com/johnbillion/extended-cpts

[2015-07-21 20:59] pmgarman opened #58 "Body background is never set"
This, I can't find anywhere in the codebase. I also am not 100% sure where it would be prefered to be at. It's not really "layout" and not really a "module" ... `body` styles are pretty much in "normalize" which I don't really feel right at putting it in either.

[code]

Noticed this when using the customizer, you get a gray background from the customizer behind the iframe because no background is

[2015-07-23 16:58] gregrickaby commented on #58
That's a great question. I used to be in _typography.scss, on line 5.

I'm putting it in normalize because it makes the most sense (to me).

[2015-07-23 17:00] gregrickaby commented on #58
Fixed (and I used the wrong ticket number... sigh) https://github.com/WebDevStudios/wd_s/commit/a8dce059abc80753e219bccfbe273e6ba3cd7472

[2015-07-23 17:00] #58 closed, assigned to nobody

[2015-08-18 17:44] gregrickaby opened #60 "Images lose left-right margin when a caption is applied"

[2015-08-19 15:18] colorful-tones opened #61 "heading classes for occasions when you might want <h2 class="h3"></h2>"
one thing I've always done on projects is edit the [/base/typography.scss](https://github.com/WebDevStudios/wd_s/blob/master/sass/base/_typography.scss) and add something like the following:

[code]

Because, inevitably designers don't necessarily account for SEO and source order in compositions and will always need a h2 to look like an h1, or h5 to look like a h2, etc.

[2015-09-03 14:21] gregrickaby opened #63 "Search button"
It's terrible out of the box because it's 300x300 or something.

[2015-09-03 14:32] gregrickaby opened #64 "Create a grunt based theme generator"
@briannaorg Shared this with me, and I'd like to take a look at maybe integrating this with wd_s:

http://williamwalker.me/blog/levelling-up-with-grunt-project-scaffolding-with-grunt-init.html

[2015-09-03 17:46] gregrickaby opened #65 "Reduce the number of color variables"
Specifically, color variables that set markup style for smaller things like button borders, pre, ins, etc...

[2015-09-03 17:47] gregrickaby opened #66 "Add z-index mixin"
@aubreypwd Will create a PR for this as seen on our Designers call

[2015-09-03 17:56] gregrickaby opened #67 "Add WDS Simple Page Builder script enqueue function"
Like used on CLP:

[code]

[2015-09-03 18:40] gregrickaby opened #68 "Bring current with Automattic's _s"
It's been a while since we've brought this current with _s.

Mostly, I want to make sure functions inside `/inc`, `js`, and the `/` root level template files match as much as possible. (aside from our own helpers)

[2015-09-04 01:17] jazzsequence commented on #67
:heart_eyes:

[2015-09-16 02:21] gregrickaby commented on #63
How does everyone feel about just dropping the default form styles? I did this today for my WDSCamp presentation, and the WP-API search form was basically naked - and looked fantastic.

[2015-09-17 23:20] #67 closed, assigned to gregrickaby

[2015-09-18 19:22] briannaorg commented on #64
Started on this with a fork over here: https://github.com/briannaorg/wd_s

[2015-09-19 02:15] #61 closed, assigned to colorful-tones

[2015-09-19 02:15] #65 closed, assigned to bezierer

[2015-09-19 02:15] #60 closed, assigned to efuller

[2015-09-21 02:14] #68 closed, assigned to ImBigWill

[2015-09-21 14:00] coreymcollins commented on #63
Updated in this pull request encompassing basic form elements: https://github.com/WebDevStudios/wd_s/pull/78

Should be good to close this out, unless there's anything specific to the search button we want to adjust here.

[2015-09-21 14:29] efuller opened #79 "Source maps disappearing"
Line numbers are also incorrect

[2015-09-21 15:27] efuller commented on #79
Quick update on findings. After testing, it appears that grunt-css min might be the source of the issue. I'll need to dig into the docs and test - https://github.com/gruntjs/grunt-contrib-cssmin/issues

[2015-09-22 14:15] gregrickaby commented on #63
:+1:

[2015-09-22 14:15] #63 closed, assigned to coreymcollins

[2015-09-23 14:28] briannaorg commented on #64
Clone this repo: https://github.com/briannaorg/wd_s

 into ~/.grunt-init/ or %USERPROFILE%.grunt-init\ for Windows users.

To create a new project using a grunt-init template just run the following command in the root of your project directory:

$ grunt-init {template name}

Answer the questions in the prompt, or hit "enter" to use the default values.

Afterwards you just need to run npm install a

[2015-09-23 14:30] gregrickaby opened #80 "Add WAI-ARIA tags to search form"
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/forms/Basic_form_hints

[2015-09-28 14:31] gregrickaby commented on #80
Fixed with: https://github.com/WebDevStudios/wd_s/commit/d78f2d29a3cd442d26c61e192b114e3918ccf7b0

[2015-09-28 14:31] #80 closed, assigned to gregrickaby

[2015-09-28 15:19] efuller commented on #79
After more testing, it appears that the initial cause stated above is not the culprit that is breaking source maps.

They are breaking when the 'cmq' Grunt task is being run. This is the task that combines media queries and adds them to the end of style.css

At the moment, I think our only option is to decide whether or not we want to continue combining media queries.

[2015-09-29 17:35] jazzsequence commented on #64
Tested this and I give it :+1: :+1:. There are a few minor places where I think we can [own it](https://github.com/WebDevStudios/wd_s/issues/83) but those are things we can do after this is merged in.

Like this:
![theme author attribution](https://s3.amazonaws.com/uploads.hipchat.com/48447/998499/ObodEB0iA6F7rEc/Cursor_and_Manage_Themes_%E2%80%B9_wd_s_—_WordPress.png)

[2015-09-29 17:58] gregrickaby commented on #64
Just had a call with @briannaorg and we did a setup via screen-share. We identified a few tweaks...but in the end, I feel like this will be how we should scaffold client sites going forward. We will discuss during tomorrow's designer's call.

Great work!

[2015-10-05 14:42] aubreypwd opened #87 "Add grunt-notify"
Add support for [grunt-notify](https://github.com/dylang/grunt-notify)

[2015-10-05 19:11] #66 closed, assigned to aubreypwd

[2015-10-05 21:31] #87 closed, assigned to aubreypwd

[2015-10-12 18:26] JayWood opened #89 "Fix i18n variable usage"
Looking at this https://github.com/WebDevStudios/wd_s/blob/master/functions.php#L137

Should be this

[code]

A small bug I know but it doesn't follow WordPress documentation outlined here: https://codex.wordpress.org/I18n_for_WordPress_Developers#Placeholders

I seen it and figured I'd open a ticket.  At this time I'm unaware of any other instances of this occurring but if I see them I'll let you

[2015-10-14 17:34] gregrickaby opened #90 "Discussion: Better cross-browser/platform font rendering"
Having issues with @font-face rendering inconsistently across browsers and operating systems.

[This hero](https://www.apple.com/osx/) looks pixel perfect across all browsers and OSs. Would like to follow Apple's lead, and bring some default CSS to help.

Thoughts?

[code]

[2015-10-14 17:59] colorful-tones commented on #90
Each of these properties has its own implications, and not necessarily ideal to set on entire body element.

I think it is good to be aware of their benefits, but use them on case by case basic, and targeting specific elements when necessary. I can't remember how I've come to this conclusion. Will try to dig up some links.

[2015-10-14 18:23] gregrickaby commented on #90
I added this to U**r, and the custom font rendered more like the PSD. (Yay!)

HOWEVER - it took longer for the page to render, long enough that I thought I broke everything; which is outlined on [CSS-Tricks](https://css-tricks.com/almanac/properties/t/text-rendering/)

I like this approach:

[code]

[2015-10-14 18:42] gregrickaby commented on #90
What about adding this to `_normalize.scss`? Moving `text-rendering` to it's own class removed the lag I spoke about in the last message...

[code]

The above code produced this:
![before-after-font-smoothing](https://cloud.githubusercontent.com/assets/200280/10494268/f2580234-727a-11e5-90e3-1b1eab730506.jpg)

[2015-10-19 13:27] colorful-tones commented on #90
I recall my reasoning, and it is not relevant :) Basically, this had strange impact on font icons, but we're not using them so much anymore, therefore moot point.

However, I would not put the code in _normalize.scss, as we should keep it as close to the source as possible. Would almost like to see us use [https://10up.github.io/sanitize.css/](sanitize.css) instead of normalize, and that Issue is

[2015-10-19 13:46] colorful-tones commented on #90
A good read: ["text-rendering: optimizeLegibility is Decadent and Deprave"](https://bocoup.com/weblog/text-rendering)

I second this commenter's sentiment: ["I've learned from experience that if you're playing around too much with non-standard CSS features, especially when you're applying it to the entire document, you're bound to get burned. They can have lots of unintended side effects, and if y

[2015-10-19 14:04] gregrickaby commented on #90
Screenshot was from Chrome on OSX.

I'm all for dropping Normalize. It still has support for IE6 & 7, neither of those browsers are supported by WDS.

Finally, wd_s is supposed to be a bit opinionated, it's _our_ starter theme :smile:

[2015-10-19 14:06] stacyk commented on #90
Be careful when you add font-smoothing to body. It can impact speed of rendering. I tend to try to target only certain type elements, like light weight headlines.

Just my two cents on that issue in a conversation I wasn't invited to :)

Keep up the great work :+1:

[2015-10-19 14:22] gregrickaby commented on #90
I agree with rendering being slowed down. I've seen it first hand. However, I need a solution for all these custom (non-web native) fonts our mega clients insist on using :smile:

I am open to any discussion and/or idea -- which doesn't involve us adding an obscene amount of additional markup e.g.; `<p class="smooth legible">`

[2015-10-24 17:07] gregrickaby opened #91 "Update package.json to meet new NPM format"
Newer versions of NPM are throwing an error when running `npm install`.

Package.json should be something like this:

[code]

[2015-10-24 17:09] gregrickaby opened #92 "Replace lame color variable names with spiffy names"
Need to swap out these boring names like "lighter-gray" with something a bit more fun.

Copy/Paste the hex codes in `_colors.scss` into http://chir.ag/projects/name-that-color/ and replace!

[2015-10-24 17:30] gregrickaby opened #93 "Discussion: Should we move things into an /assets folder?"
The [plugin generator](https://github.com/WebDevStudios/generator-plugin-wp) places assets into a directory. This allows for a "cleaner" root. Maybe we can follow along?

Move `images`, `js`, and `sass` into `/assets`

Thoughts?

[2015-10-24 17:35] gregrickaby opened #94 "Discussion: Add header/logo support to the customizer?"
I've seen us starting to use the customizer a bit more. Maybe add this in along with the existing `custom-background` support?

http://codex.wordpress.org/Function_Reference/add_theme_support#Custom_Header

[2015-10-26 13:36] colorful-tones commented on #92
I'm currently working on something that is a bit more robust regarding the color variables and skins. Hoping to have an official PR soon and demo during Designer meeting. For now, here is my branch: https://github.com/colorful-tones/wd_s/tree/color-variables-theme/sass/utilities/colors

[2015-10-26 13:40] #91 closed, assigned to nobody

[2015-10-26 13:46] #90 closed, assigned to nobody

[2015-10-26 13:52] #89 closed, assigned to nobody

[2015-10-26 13:52] gregrickaby commented on #89
@JayWood Thank you!

[2015-10-31 20:10] gregrickaby commented on #79
I have a fix for this. It involves switching to [PostCSS](https://github.com/postcss/postcss).

I've been testing today and it seems to be working. Plus, we can talk about moving to PostCSS for our post-compilation.

[code]

[2015-10-31 20:30] gregrickaby opened #99 "Discussion: Use PostCSS"
I've been doing some testing and would like to drop our Grunt dependencies: "Autoprefixer, Combine Media Queries, CSSComb, CleanCSS, and CSSmin" in favor of [PostCSS](https://github.com/postcss/postcss) plugins. PostCSS plugins would replicate the optimization tasks we currently have in place. The difference is, it does it faster and with less dependencies.

The first win is, it fixes https://gith

[2015-10-31 20:31] bradp commented on #99
+1 to PostCSS :+1:

[2015-10-31 22:07] colorful-tones commented on #99
Would webpack be a good option to put on the table? http://webpack.github.io/

[2015-11-01 15:26] efuller commented on #99
The way I understand how webpack works, it is more of a JS module bundler. It allows you to 'require' things such as CSS / images per module. Not sure that it would fit well into our workflow.

I came across this package for creating a style guide using CSS comments and PostCSS - https://github.com/jonathantneal/mdcss

[2015-11-01 16:55] gregrickaby commented on #99
Webpack CAN compile Sass (via node sass). I've been playing with it for a few hours this morning, but I haven't quite figured it all out yet. It's a lot like Browserify. @efuller is right, we'd have to re-structure how we write our Sass and change our workflow as it would also eliminate the need for Grunt.

This is a good read: https://medium.com/@housecor/browserify-vs-webpack-b3d7ca08a0a9#.m74y6

[2015-11-02 12:31] bezierer commented on #93
I'm always down for keeping root clean. I was happy about creating the template-parts directory a while back. +1 from me!

[2015-11-02 14:50] efuller commented on #93
+1 for me on this.

[2015-11-02 14:56] colorful-tones commented on #99
I'm all for PostCSS +💯and keep our eyes on Webpack.

[2015-11-02 15:02] colorful-tones commented on #94
I've been using Customizer more, but have yet to come across a usage for Custom Header on our client projects. Do you imagine a particular scenario? Or do you want code included, but commented out?

~~I could see add_section, add_setting, and add_control for logos as being a common functionality that might be good to include?~~ Just re-read title of Issue... +1 for logo support. :)

[2015-11-02 15:04] colorful-tones commented on #93
+1

[2015-11-02 15:04] coreymcollins commented on #93
I'm not against the idea or anything, but is there a specific reason to do it?  Does having the images, js, and sass directories in the root really make things that much more cumbersome or un-clean?  Or is it combining those things in one place just for the sake of combining things?

I'm fine either way, but just curious if it's really that huge of a deal to begin with or if there are reasons behi

[2015-11-02 15:08] coreymcollins commented on #99
This seems like a pretty boss solution.  I, too, have inconsistencies with source maps from time to time and if we can find a solution that not only fixes that but spruces everything else up a bit at the same time then that's a pretty good bonus.

[2015-11-02 15:13] coreymcollins opened #100 "Discussion: Drop (possibly useless) things from customizer"
The customizer is pretty powerful and we can hook into it to do a lot of things that are done on every site - a logo, social links, footer copyright text, etc.

But when's the last time we actually had someone use colors or background image in the customizer?  We JUST used the background image field for a site and it's literally the only time I've ever used it.

I think maybe we could do with addi

[2015-11-02 15:13] coreymcollins commented on #94
I'm starting to hate the customizer less and less.  I think we should add it.  Every client has a logo and it should be easy for them to replace it if they ever need to update it.

I would say, though, that we should drop some other customizer options like custom-background.  I've opened a new discussion about that, though: https://github.com/WebDevStudios/wd_s/issues/100

[2015-11-02 15:25] briannaorg commented on #99
+1 for PostCSS and +1 for keeping an eye on Webpack.

[2015-11-02 15:27] gregrickaby commented on #94
Custom header support is already in _s, we just removed it way back when. I'd like to put it back in.

[2015-11-02 15:28] gregrickaby commented on #100
Or just comment out the line in `functions.php` that powers the customizer?

https://github.com/WebDevStudios/wd_s/blob/master/functions.php#L163

[2015-11-02 15:29] efuller commented on #94
+1 for adding this back in.

[2015-11-02 15:32] gregrickaby commented on #99
I think, for now, we switch to PostCSS. We'll retain the same workflow (Grunt), and definitely look at Webpack down the road.

I do think we should stop using /concat and start using [Browserify](http://browserify.org/). But that's another discussion...

[2015-11-02 15:33] coreymcollins commented on #100
I would probably lean more toward leaving that file in and just making customizations to the /inc/customizer.php file myself once we figure out which essential customizer sections should exist.  I know we're talking about support for header/logo here: https://github.com/WebDevStudios/wd_s/issues/94

Maybe there's a use case for having social icons and copyright text by default as well?  Not sure.

[2015-11-02 15:39] gregrickaby commented on #93
It's a combination of a few of those reasons.

1) Plugins which are created using the plugin generator (which we're in charge of styling) use the `/assets` folder. It just makes sense to keep things consistent across the project landscape at WDS. This fits perfectly with the saying, "Think of the next developer". We should make things as consistent and easy for "the next person" to work our code.

[2015-11-02 15:42] gregrickaby commented on #100
I'm talking about should this functionality be included by default. If the answer is no, then remove the include from `functions.php` - but leave the file inside `/inc`. If you want to use the customizer, just add the file include to `functions.php`. Same goes for Jetpack.

I love the idea of adding Social Icons and copyright text to the customizer. This is definitely something the client should b

[2015-11-02 15:45] coreymcollins commented on #100
I think you just answered the question yourself, unless we're just missing what the other is saying --

You love the idea of adding social icons and copyright text to the customizer.  So, by that point, then we should NOT be removing the include from functions.php because we'll need to add our own customizer sections (social links and copyright) in a default wd_s experience.  Right?

[2015-11-02 15:46] gregrickaby commented on #100
Lol, we're on the same page :)

Next up....customizing Page Builder parts with the Customizer!

[2015-11-02 15:48] coreymcollins commented on #100
:thumbsup:

[2015-11-02 15:49] briannaorg commented on #100
YES we need social icons and footer/copyright stuff in the Customizer. And I am actually really excited about handling PB customizations there too.

[2015-11-02 15:50] gregrickaby commented on #100
The entire Page Builder UX can be very cumbersome. Especially when dealing with many parts with custom fields. I would love to get this over into the customizer. If anyone wants to take a stab at it...feel free!

[2015-11-04 21:01] gregrickaby commented on #99
PostCSS support added in this commit: https://github.com/WebDevStudios/wd_s/commit/a2357e1297e6f7d99c26e68b0a41f88315effbd5

[2015-11-04 21:01] #99 closed, assigned to nobody

[2015-11-04 21:57] gregrickaby commented on #79
This was fixed when we merged in PostCSS.

https://github.com/WebDevStudios/wd_s/issues/99

[2015-11-04 21:57] #79 closed, assigned to efuller

[2015-11-05 17:38] colorful-tones opened #102 "remove Google Font sub-setting for latin as it is not needed"
If I'm reading Google's recommendations it seems sub-settings for Latin is not needed, as it is default: https://developers.google.com/fonts/docs/getting_started#Subsets

I'm thinking we can remove this? https://github.com/WebDevStudios/wd_s/blob/master/inc/scripts.php#L31

[2015-11-05 18:49] colorful-tones opened #103 "remove clear: both from h1, h2, h3, h4, h5, h6 declaration"
This is from original _s and it always bothered me, because I end up removing on every project. Do we need it? https://github.com/WebDevStudios/wd_s/blob/master/sass/base/_typography.scss#L23

[2015-11-09 13:54] gregrickaby commented on #103
I am fine with this...

[2015-11-09 13:56] gregrickaby commented on #102
This was added because it's the standard set by the WordPress Theme Review Team. It's based on this post: http://themeshaper.com/2014/08/13/how-to-add-google-fonts-to-wordpress-themes/

[2015-11-09 14:10] colorful-tones commented on #102
Yeah, that post is from Themeshaper, which advocates for WP.com stuff. I can see how that general coding practice in that post is important to be aware of, and general good practice, but sub-setting is not even explicitly discussed in it, and still believe it is unnecessary.

[2015-11-09 14:12] #94 closed, assigned to nobody

[2015-11-09 14:13] gregrickaby commented on #100
Custom header support has been rolled back into the theme. I also merged in your PR @coreymcollins. Can y'all test out the custom header and new footer/social icon features?

[2015-11-09 14:16] gregrickaby commented on #102
:+1: Get me a PR.

[2015-11-09 14:28] coreymcollins commented on #100
Tested on my local and working a-ok.  Out of the box, there is no display for the header image, social icons, or copyright text anywhere in the theme but the customizer fields themselves work fine and can be pulled in wherever they're needed.

[2015-11-09 14:29] gregrickaby commented on #100
Do you think we should swap out the hard-coded copyright text in the footer, for a function that pulls in the stuff from the customizer?

[2015-11-09 14:32] coreymcollins commented on #100
Definitely.  I can work on adding a PR for that this morning.

[2015-11-09 21:43] #103 closed, assigned to nobody

[2015-11-10 17:01] gregrickaby commented on #100
Fixed in https://github.com/WebDevStudios/wd_s/pull/104

[2015-11-10 17:01] #100 closed, assigned to nobody

[2015-11-10 17:06] modemlooper opened #107 "svg function in scripts.php causing scripts to load in body and not head"
The function below causes any enqueues or hooks to wp_head to load after <body> and not in the head, my search lead me to "you can't echo in the wp_head hook". I think getting the file contents instead of the require might work. Echo in the svg tag.

[code]

[2015-11-10 17:09] modemlooper commented on #107
![screen shot 2015-11-10 at 9 09 04 am](https://cloud.githubusercontent.com/assets/867885/11069399/bdd8dea0-878a-11e5-96c7-d93ed4bb2d06.png)

[2015-11-10 17:12] modemlooper commented on #107
just to note, I guess you can only echo/include/require in between tags

[2015-11-10 17:32] #107 closed, assigned to nobody

[2015-11-12 23:03] jazzsequence opened #108 "Calling an <svg> in the header violates 508c"
https://github.com/WebDevStudios/wd_s/blob/master/inc/scripts.php#L110

Also the `display: none;` throws a warning.

![total_validator_results](https://cloud.githubusercontent.com/assets/991511/11134011/e36d723e-8956-11e5-89bf-344712f9972e.png)

Should we put the `<svg>` call in the footer? After wp_head?

[2015-11-12 23:14] jazzsequence opened #109 "508c: Using role="banner" in header is discouraged"
https://github.com/WebDevStudios/wd_s/blob/master/header.php#L32

![total_validator_results](https://cloud.githubusercontent.com/assets/991511/11134229/649fdac6-8958-11e5-8ab7-2ae450d7f079.png)

[2015-11-12 23:18] jazzsequence opened #110 "508c: 'search' role is not valid for searchform"
https://github.com/WebDevStudios/wd_s/blob/master/searchform.php#L1

[code]

Looks like the recommendation for a search form is no role.

[2015-11-12 23:20] jazzsequence opened #111 "508c: aria-expanded="false" is not allowed in menu-toggle"
https://github.com/WebDevStudios/wd_s/blob/master/header.php#L45

`<div class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">`

[2015-11-12 23:29] jazzsequence opened #112 "508c: role="main" is not valid in <main> element"
https://github.com/WebDevStudios/wd_s/blob/master/page.php#L20

[2015-11-12 23:31] jazzsequence opened #113 "508c: role="contentinfo" is discouraged in <footer>"
https://github.com/WebDevStudios/wd_s/blob/master/footer.php#L20

[2015-11-12 23:41] gregrickaby commented on #108
I believe this has to go in the header in order for us to use `<svg>` like sprites. Will need to research this.

[2015-11-16 14:48] gregrickaby commented on #108
On my local, I moved the SVG definitions to the footer and ran a [CBT test](http://app.crossbrowsertesting.com/public/i94e9360db902757/screenshots/z5ff4e4e34921d4b3be7). Unfortunately, moving the SVG definitions to the footer will break SVGs in Safari 8 and Safari for iOS 8.

Then I moved the SVG definitions immediately after `<body>` and re-ran a [CBT test](http://app.crossbrowsertesting.com/publ

[2015-11-16 15:26] jazzsequence commented on #108
That was going to be my next suggestion. :+1:

[2015-11-16 15:29] #108 closed, assigned to nobody

[2015-11-16 15:30] jazzsequence commented on #108
I'm planning to submit a PR this week to add a class so those style warnings can be taken care of with the theme stylesheet. There's no reason to use inline CSS if we don't need it.

[2015-11-16 15:57] #109 closed, assigned to nobody

[2015-11-16 16:02] #110 closed, assigned to nobody

[2015-11-16 16:05] #111 closed, assigned to nobody

[2015-11-16 16:07] #112 closed, assigned to nobody

[2015-11-16 16:08] #113 closed, assigned to nobody

[2015-11-19 19:35] aubreypwd opened #114 "Merge markers are casuing grunt styles to not work"
![](https://cldup.com/dHhnJnW7qW.png)

I've been getting this error a lot when I have a merge conflict on Gruntified files. I can delete them and re grunt styles and I'm good. I'm not 100% sure how to fix it. The merge conflict markers are in the minified files (which always happens) but them trying to re-grunt styles them fails with this error.

[2015-11-19 19:44] efuller commented on #114
I've been getting these as well.

[2015-11-19 19:52] gregrickaby opened #115 "Invalid source-map path"
CSS source-map should point to `style.css.map`

![image](https://dl.dropbox.com/s/1jmlquxlht41gih/Screenshot%202015-11-19%2013.50.57.png?dl=0)

[2015-11-19 20:14] briannaorg commented on #114
I got this once yesterday, but it turned out that when I selected all the style-dot files to resolve them, I had missed the minified one. So I re-resolved it to "mine", then ran grunt styles again without having to delete anything.

This likely not correct, but it reduces the chances I'll screw up a merge and not get my style changes in - when I need to merge from my feature branch to master, I ch

[2015-11-19 20:15] gregrickaby commented on #114
This is happening because we're creating a minified file with every compilation. We used to just run `grunt sass` and then we'd manually have to run `grunt styles` before pushing up. Unfortunately, Git will never ever be able to figure out how to merge a minified file.

[2015-11-23 15:20] gregrickaby commented on #92
Fixed in #118

[2015-11-23 15:20] #92 closed, assigned to nobody

[2015-11-23 15:36] gregrickaby commented on #102
Fixed in #119

[2015-11-23 15:36] #102 closed, assigned to nobody

[2015-11-23 15:49] gregrickaby commented on #114
We've voted to leave things as is. You can resolve the conflict using "resolve using theirs" and re-running `grunt styles`

[2015-11-23 15:49] #114 closed, assigned to nobody

[2015-11-23 15:49] #115 closed, assigned to nobody

[2015-11-23 16:02] colorful-tones opened #120 "Improve documentation in /svg/readme.md to cover SVG and icoMoon usage"
I've had a few pings from team on how to use the .json file in wd_s /svg/. I've briefly started to update the [Readme](https://github.com/WebDevStudios/wd_s/blob/master/images/svg/README.md), and will get it wrapped up soon.

[2015-11-23 18:02] gregrickaby opened #121 "Drop custom "wider-than" mixin for Neat's "media" mixin."
Neat's [media](http://thoughtbot.github.io/neat-docs/latest/#media) mixin supports: _variables_, _min-width_, _max-width_, etc... basically any [media query](http://www.w3.org/TR/css3-mediaqueries/#media1]) can be passed through.

By default, `@include media()` uses `min-width` so:

**This would be the normal WDS workflow**

Sass

[code]

CSS

[code]

**Plain 'ol pixels**

Sass

[code]

CSS

[code

[2015-11-23 18:08] aubreypwd commented on #121
+1 Also would fix #117 as the sizes would be a variable.

[2015-11-23 18:11] colorful-tones commented on #121
+1

[2015-11-23 18:13] efuller commented on #121
+1 on this!

[2015-11-23 19:47] gregrickaby opened #122 "Loss of correct line-numbers and other issues"
As of right now, wd_s compilation is broken. SourceMaps and line-numbers don't work. Making it difficult to do our jobs. Debugging on the fly is required, not only to check our work, but the previous developers work too. **We need SourceMaps to efficiently do our jobs.**

**Introduction**

The old grunt `autoprefixer` was ripping apart the stylesheet causing the SourceMap to break. It's even liste

[2015-11-24 20:27] gregrickaby opened #123 "Make SVG's more accessible"
Context https://basecamp.com/1756504/projects/7221032/todos/218217200

Will use this: http://www.sitepoint.com/tips-accessible-svg/

![image of basecamp convo](https://cldup.com/Qlgc4LOiuw.jpg)

[2015-11-25 01:27] jazzsequence commented on #123
Can we add some parameters that can be passed to do_svg? Then title and description can (optionally) be passed into the svg and used if they exist, e.g.:

[code]

[2015-11-25 17:27] coreymcollins commented on #121
FO. SHO.  Let's do iiiiitttt

[2015-11-25 17:27] bezierer commented on #121
+1 here!

[2015-11-25 18:42] gregrickaby opened #124 "Remove navigation.js"
Because of our requirement to make wd_s [Section 508](http://www.section508.gov/) compliant, we've removed the `aria` markup from the primary navigation menu. `navgiation.js` was based on the `aria` markup, and is now broken.

I'm for adding a different "navicon" solution into wd_s. I feel like we do a navicon on every client project...

[2015-11-25 18:43] gregrickaby opened #125 "Add "no-js" and "js" support"
In an effort to make it easy to sniff javascript support, I have a snippet that will add a class to the body if javascript is enabled.

[2015-11-25 18:45] gregrickaby opened #126 "Add "ready" support"
In an effort to prevent FOUT; I have a snippet that will add the body class "ready" after all the things have downloaded, and the DOM is indeed: "ready".

[2015-11-25 19:09] bezierer commented on #126
So does this simply add visibility: hidden to the text until the body class= 'ready'?

[2015-11-25 19:10] #121 closed, assigned to nobody

[2015-11-25 19:10] #122 closed, assigned to nobody

[2015-11-25 19:10] #124 closed, assigned to nobody

[2015-11-25 19:10] #125 closed, assigned to nobody

[2015-11-25 19:10] #126 closed, assigned to nobody

[2015-11-25 19:13] gregrickaby commented on #126
Correct. You could hide something and then fade it in:

[code]

[2015-11-25 19:15] bezierer commented on #126
Awesome! I'm doing something similar on my (unfinished) site: http://juxtapose.co/2015/10/alphabetizing-css/ but also making the transition a little slower so it's not “jarring” but that may be more of a personal preference.

Great commit!

[2015-11-25 19:21] gregrickaby commented on #126
Just added this so there is code out of the box: https://github.com/WebDevStudios/wd_s/commit/0731bd583b16c5672d70450a1ee7853d5373fdcf

[2015-11-25 21:57] coreymcollins commented on #126
Awesome! Just had to implement a solution like this on a site which had similar classes from Typekit being added to the body tag.  Really like the solution you're using above, Cameron - the easing in is real nice.

[2015-11-30 15:44] #123 closed, assigned to nobody

[2015-11-30 15:47] jazzsequence commented on #123
:boom:

[2015-12-01 00:03] pstonier commented on #124
Do you mind sharing what issues were being caused? I thought the aria markup was supposed to aid in accessibility?

[2015-12-01 00:34] pstonier opened #127 "Media Query Splitting"
Following the guidelines from Neat, adding non-overlapping media queries as variables works well when also using omega.
https://github.com/thoughtbot/neat#how-do-i-use-omega-in-a-mobile-first-workflow

This allows me to use mixins like this

[code]

More examples: https://github.com/pstonier/rapid-springs/blob/master/sass/mixins/_mixins-master.scss

Also, note that these are written for a changing

[2015-12-01 01:51] jazzsequence commented on #124
@pstonier It's related to #111

[2015-12-02 17:19] aubreypwd commented on #93
+1

[2015-12-02 17:23] colorful-tones commented on #120
~~also, lumping renaming dir to /svg-icons/~~ [created separate issue to track against](https://github.com/WebDevStudios/wd_s/issues/128).

[2015-12-07 14:42] colorful-tones opened #128 "rename SVG icons directory"
Renaming /svg/ to /svg-icons/ to clarify the usage of directory and reflect that it is a watched dir. If unique svgs are needed then we put them in either /images/ or create a new dir /svg/ on per project basis.

[2015-12-07 14:50] #128 closed, assigned to nobody

[2015-12-07 16:35] briannaorg commented on #64
This code has been moved from my personal repo to the grunt-init branch.

[2015-12-07 18:11] gregrickaby commented on #120
Fixed in https://github.com/WebDevStudios/wd_s/pull/130

[2015-12-07 18:11] #120 closed, assigned to colorful-tones

[2015-12-08 19:27] colorful-tones opened #131 "empty /svg-icons/ dir to start out"
I feel like it may be more error prone to start with dozens of svg icons on new project and then have to go back and clean out unused icons later on (especially in team environment), as opposed to starting with empty directory and add as you go? I wonder if some projects never get cleaned up, therefore lots of unused icons left causing bloat?

[2015-12-08 19:28] aubreypwd commented on #131
I agree, add as you go....

[2015-12-08 19:31] colorful-tones commented on #131
or even just start with very little, like Facebook and Twitter only? Although, empty is probably still better.

[2015-12-08 20:55] gregrickaby commented on #131
I vote we clean it out, leaving only FB and Twitter. It will help newbs...  :smile:

[2015-12-08 21:20] efuller commented on #131
+1 on the idea of removing bloat! I like Greg's thinking though of starting with FB and Twitter.

[2015-12-10 17:04] colorful-tones opened #132 "input focusing bug on iOS if font-size is anything other than 16px"
I'm sure y'all are familiar with this one. iPhone, <input type="text"> with font-size: 14px you get unwanted zooming effect of page.

I've yet to find a better (not completely opinionated, and strong-arming user's choices) solution then this: http://stackoverflow.com/a/16255670

Would like to propose adding the following code here: https://github.com/WebDevStudios/wd_s/blob/master/sass/modules/_fo

[2015-12-11 16:36] colorful-tones opened #133 "input[type='tel'] add to _forms.scss partial"
Add new HTML5 input[type='tel'] to list of inputs with padding in _forms.scss partial: https://github.com/WebDevStudios/wd_s/blob/master/sass/modules/_forms.scss#L85

[2015-12-14 14:34] #133 closed, assigned to colorful-tones

[2015-12-14 15:00] colorful-tones commented on #132
It might not be worthwhile to put in theme as out-of-box wd_s has font-size 16px, therefore it is not an issue. However, on projects where baseline font-size is altered it'll need to be added. Closing for now.

Final working code would of been:

[code]

[2015-12-14 15:00] #132 closed, assigned to colorful-tones

[2015-12-14 15:02] colorful-tones commented on #131
Resolved with: https://github.com/WebDevStudios/wd_s/pull/135

[2015-12-14 15:02] #131 closed, assigned to colorful-tones

[2015-12-14 15:43] colorful-tones opened #136 "Pattern Library"
I know our team has hashed through this before, but thought I'd start a ticket to perhaps discuss again and document decisions here for posterity.

Was thinking to try and get a branch going with this integrated: http://documentcss.com/

Some features wd_s could use:
- auto-generated style guide
  - integrates with wd_s existing workflow (Grunt fueled), etc.
  - parses as much of existing Sass par

[2015-12-16 17:11] colorful-tones commented on #136
deemed not a priority by group in Design call

[2015-12-16 17:19] colorful-tones commented on #136
I'll leave open in case somebody wants to explore.

[2015-12-21 15:03] gregrickaby commented on #93
All set here...and before the new year! (and new crop of projects for 2016!) :santa:

:https://github.com/WebDevStudios/wd_s/commit/0fe4d34947ca892c866cef44345405c7705642e2

[2015-12-21 15:03] #93 closed, assigned to gregrickaby

[2015-12-21 15:09] gregrickaby opened #137 "Create a generic, re-usable Navicon/Hamburger Nav"
We use a navicon/burger on almost every build. Let's finally get one in here as a baseline.

**Requirements:**
- Must use an SVG navicon icon
- Must have a slide-out drawer
- Must be accessible and pass 508c testing
- Visible from phone-portrait -> tablet-portrait

Bourbon Refills has code for this, and I've used it on a few projects as well. http://refills.bourbon.io/components/#sliding-panel

Th

[2015-12-21 15:10] coreymcollins commented on #137
Or, we could totally abandon the hamburger icon like we've talked about internally and come up with a different solution for mobile menus since the burger is trash anyway.  Just a thought!

[2015-12-21 15:13] colorful-tones commented on #137
I would suggest we add "Menu" next to icon, or below.

Also, it seems that not all sites use off-screen nav paradigm, but also toggling of menu. Therefore, I would not suggest we map to one pattern. Maybe we could even develop partial for either/or, and just a matter of adding class for which one you choose?

[2015-12-21 15:16] gregrickaby commented on #137
We can't abandon it. It was in almost every comp from 2015. I expect that trend to continue, plus the amount of hours we burn on re-creating this functionality again and again is appalling. There is no "one size fits all" solution, but having some baseline sass and javascript in here will go a long way.

[2015-12-21 15:18] coreymcollins commented on #137
Yes, it was in almost every comp from 2015 but we were also in control of a lot of those comps.  It was there because put it there.  I know we've all talked about how the burger icon isn't really the best and would like to replace it, but we'll never replace it if we don't take steps to find something new to use in its place.

[2015-12-21 15:19] gregrickaby commented on #137
@simonwebdesign @bezierer I'd like both you to weigh in here. What are you thoughts on abandoning the Navicon in favor for something else?

[2015-12-21 15:20] efuller commented on #137
I've worked heavily on menus(mega menus) on a few recent projects and overall I think it's a great idea to create a better base solution.

One idea I had was to create our own custom jQuery plugin that would allow for configuration.

One config example could be whether or not to provide toggle buttons for menus that have both top-level links plus sub-menus on mobiles and tablets.

[2015-12-21 15:25] colorful-tones commented on #137
Small screen navigation is an ongoing discovery process for users, designers and developers. Yes, I believe small additions can be made to enhance the existing out-of-box "Hamburger" menu residual from original _s, but feel this is an area we want to keep too much opinionated code out of.

I would suggest we start a pattern library (drop-ins) for extending wd_s in separate repo. There we could do

[2015-12-21 15:30] bezierer commented on #137
@gregrickaby For me personally, if the Information architecture will allow it, I always like investigating other patterns besides the hamburger. I've been observing a lot of big players doing the same. I know on AllClear ID and Office we skipped the hamburger in favor of other patterns that keep the nav in view at all times.

Here are some different patterns that we could discuss on the designer c

[2015-12-21 15:34] colorful-tones commented on #137
I'm a fan of the Horizontal Overflow pattern, which I think The Guardian (@bezierer mentions) riffs on: http://codepen.io/jordanmoore/pen/pnlAi

It keeps the menu prominent, while forcing stakeholders to identify their navigational priorities. Which seems like a win for everyone (users, devs, stakeholders, etc.)

[2015-12-21 15:37] colorful-tones commented on #137
Here are some Navigation patters for reference: https://bradfrost.github.io/this-is-responsive/patterns.html#navigation

[2015-12-21 15:40] bezierer commented on #137
I think we should try to identify 3 go-to patterns, and for anything not fitting the mold of those 3 we could investigate other patterns. It could be something like:
- Default/we don't control over comps: Use the hamburger.
- Sites with more pages: Use the Overflow pattern.
- Sites with more limited IA (~1-6 pages) use the bottom or top fixed nav pattern.

That way we're not reinventing the wheel

[2015-12-21 15:46] coreymcollins commented on #137
I really like the horizontal overflow pattern as well.  I think it works pretty well, or can work pretty well, if styled nicely.  The main hurdle there is to give enough of an indicator to the user that they can swipe horizontally through to additional menu items.

What I like about it is that it doesn't take the user away from anything.  They don't have to click a button and obscure the rest of t

[2015-12-21 15:53] bezierer commented on #137
Also consider: stats show that with the hamburger **a lot** of users require extra indicators to know that it hides the menu items as well, and even then it's no guarantee. So even though the overflow requires some extra indication to users, _at least_ it has the backup of actually showing some links to the user by default.

[2015-12-21 17:46] simonwebdesign commented on #137
Recently been kicking around the idea of Hamburger menu usage. Seems ironic to me a convention that literally purports navigation ease of use fails at it’s own convention. Was going to blog about this.

The Hamburger was like a one side of the navigation pendulum that designers and devs adopted without really waiting for data. Now designers and dev want to take the pendulum all the way to abandoni

[2015-12-22 13:59] gregrickaby commented on #137
Really like what @simonwebdesign has shared, especially the 4th image. My question would be: how do we "BEST" sniff out which menu system to display? User Agent? (no) Feature? (better) Screen width via JS? (probably best)

[2015-12-22 15:07] colorful-tones opened #138 "Detecting Media Queries w/ Javascript"
http://zerosixthree.se/detecting-media-queries-with-javascript/
A lot of Javascript (and jQuery) is written to stay synchronized with a theme's media query breakpoints. Example, make off-screen nav work only 767px and above. Therefore, I feel like detecting the theme's Sass @mixin built media queries and keeping the Javascript in sync (single-source) is important. This would make a great reusable

[2015-12-22 15:31] colorful-tones commented on #138
I forgot we've removed reliance on breakpoint @mixin, which makes this feature mostly unusable. Will have to rethink.

[2015-12-22 18:43] gregrickaby commented on #137
Had some time to play. I started an "overflow" menu. My initial thought is: it makes us look lazy when the navicon halfway covers a nav item.

![screencast](https://dl.dropboxusercontent.com/s/f7n53rzyar9zw5d/wd_s-overflow-nav.gif?dl=0)

Committed to this branch: https://github.com/WebDevStudios/wd_s/commits/feature/overlfow-navicon

[2015-12-22 19:15] coreymcollins commented on #137
I'm not really a fan of that either.  I lean more toward the horizontal-swiping menu without an extra button to push.

Ideally, we could make sure clients only have 4-6 main nav links and use a fixed footer navigation like many apps use, but I know that's a perfect world scenario and we don't often wind up in one of those.

[2015-12-22 20:18] colorful-tones commented on #137
Yeah, I've never seen the Horizontal Overflow approach with the "Menu" button still there. What would be the purpose/function of leaving the "Menu" button? I'm not a big fan. As I mentioned above I'm a fan of this style: http://codepen.io/jordanmoore/pen/pnlAi.

The one in @simonwebdesign that shows menu sticky to bottom seems to be the "Priority+" paradigm/method: http://codepen.io/Dreamdealer/pe

[2015-12-23 15:23] simonwebdesign commented on #137
@coreymcollins Maybe if it's just part of the process we can do that from an IA perspective without much fuss. If you think about it, clients may already have an expectation of a hamburger. So delivering something more thoughtful could benefit all, but especially the clients' users. So give the clients a choice, hamburger or a hybrid.

@colorful-tones  What I am proposing is have a hamburger with

[2015-12-23 15:58] simonwebdesign commented on #137
Further clarification, I don't literally mean this is a footer. I want to describe it's position. It is the main navigation that sticks to the bottom of the viewport.

[2015-12-28 14:53] colorful-tones commented on #127
Hey @pstonier would be neat to see a Pull Request and see how you would see this being incorporated into wd_s.

I like the concept of Media Query Splitting, however for somebody that has been using [Media Query Overwriting](http://simurai.com/blog/2012/08/29/media-query-splitting/) approach for awhile it becomes a little harder to shift mindset. Pull request might help visualize the benefits.

It

[2015-12-28 16:32] colorful-tones commented on #127
I took a stab at what I envisioned with Media Query Splitting and would be interested to hear what you think @pstonier . I just did a branch off my fork of wd_s: https://github.com/WebDevStudios/wd_s/compare/master...colorful-tones:media-query-splitting

[2016-01-04 16:08] colorful-tones commented on #137
This is a neat, although not entirely encompassing and ground-breaking solution: http://lucidlemon.github.io/paradeiser/

[2016-01-05 19:21] gregrickaby commented on #137
While we debate (which I love) the final plan of action, I've brought back the old menu toggler from _s. The only difference is the navicon SVG and some light styling.

Currently, wd_s has a broken nav toggle. This simply fixes that, plus gives us an ultra-basic mobile menu starting point. For the time being, I want to merge this in.

Commits here:
https://github.com/WebDevStudios/wd_s/commits/fea

[2016-01-08 20:21] gregrickaby commented on #137
Per our discussion on this week's call,  here are the requirements for our new mobile menu:
- We will model/fork our new mobile menu based on Paradeiser http://lucidlemon.github.io/paradeiser/
- It will appear on page load, and while scrolling and disappear when user stops scrolling
- It will display the first 4 items out of the box, but allow the client to control which items display by creating

[2016-01-08 20:27] coreymcollins commented on #137
I think we have bullet point two backwards - it should probably disappear while scrolling and appear when stopped, otherwise the user would never be able to click a menu item.

[2016-01-08 20:36] gregrickaby commented on #137
This is what happens when you write notes by hand :cry:

[2016-01-11 15:09] gregrickaby opened #140 "Gulp Integration"
I've been dropping hints about this on the last couple of Designer calls. I spent the weekend playing with Gulp for a personal client, and I really quite like it. My goal is to set up wd_s with Gulp while retaining the workflow. Maybe it would even neat to offer both a Grunt and Gulp build options?

Will demo on the next call.

**Todo:**
- [x] PostCSS (for Autoprefixer and MQ Packer support)
- [x]

[2016-01-11 15:28] efuller commented on #140
+1 for this! Hopefully in the process, it will fix our sourcemap issues.

[2016-01-12 20:58] pstonier commented on #127
@colorful-tones it looks about right. I made a PR myself that I think would be able to be merged without breaking existing functionality.

[2016-01-13 17:51] gregrickaby commented on #140
I've pushed up my initial Gulp set up in a feature branch. I'd love to have everyone play with it and post feedback here. Check it out!

https://github.com/WebDevStudios/wd_s/tree/feature/gulp

[2016-01-15 20:28] stacyk commented on #140
Super excited about this. I was going to move everything over to gulp too and poof, you did it for me :) Can't wait to play!

[2016-01-18 16:21] allisonplus commented on #140
I've been playing around for notifications and this is where I am currently.

[code]

[code]

[code]

[2016-01-25 16:16] colorful-tones commented on #136
Just to keep things up to date. I'm currently investigating using [PatternPack](http://patternpack.org/) as a combination Pattern Library / Style Guide drop in for wd_s as part of my #5ftf. [Here are my notes](https://docs.google.com/a/webdevstudios.com/document/d/122fw-0NFto2IcPCDxU0G7fAzllcSc6pa0tpWbM35jhw/edit?usp=sharing) (_WDS read-only_).

[2016-01-26 21:01] colorful-tones opened #142 "remove those pesky IDs again"
`<article id="post-<?php the_ID(); ?>" <?php post_class(); ?>>`
In most cases will output
`<article id="post-x" class="post-x">`
~~This is invalid markup and~~ We should not be using IDs to begin with. Greg said Stacey originally removed the IDs, and when we brought wd_s up-to-date with _s they came back.

Somebody should go through and remove again, and soon please.

[2016-01-29 17:03] gregrickaby opened #143 "Refactor _s_get_the_title() and _s_get_the_excerpt() template tags"
Just want update these helper functions to use `wp_parse_args()` (instead of passing multiple args).

https://github.com/WebDevStudios/wd_s/blob/master/inc/template-tags.php#L193

Will need to create `_s_get_the_title();` (Use CLP code)

[2016-01-29 17:06] gregrickaby opened #144 "Add 'animate.css'"
Based on our new browser support and the fact that more comps require it, let's go ahead get this library added. I think @colorful-tones mentioned he found a Sass version?

Ideally, this library would be added to `bower.json` - not `/assets/sass`

https://daneden.github.io/animate.css/

[2016-01-29 17:10] gregrickaby commented on #127
This was merged in with PR https://github.com/WebDevStudios/wd_s/pull/141

@pstonier Would love a write up/example so we can add it to the docs here on Github (yes, we'd like to have docs here on Github haha)

https://github.com/WebDevStudios/wd_s/wiki

[2016-01-29 17:10] #127 closed, assigned to nobody

[2016-01-29 17:13] gregrickaby opened #145 "Beef up wd_s documentation"
It is way past time we document how to use wd_s. I've enabled a public wiki which can be edited by _anyone_ (not just @WebDevStudios/team-members).

Contributions are welcome at: https://github.com/WebDevStudios/wd_s/wiki

Thanks!

[2016-02-01 14:47] #143 closed, assigned to gregrickaby

[2016-02-01 14:52] colorful-tones commented on #144
I can't remember which one I used, and didn't use Bower to install, and either of these would work:
https://github.com/tgdev/animate-sass
https://github.com/geoffgraham/animate.scss

[2016-02-01 17:40] gregrickaby commented on #140
I'm at a really good place with the Gulpfile. I feel like it's nearly development ready.
- Icons, Scripts, Sprites, and Styles work!
- i18n is being weird and isn't scanning PHP files even though I have it configured properly.
- I have not integrated Gulp Notify yet.

**Changes:**
https://github.com/WebDevStudios/wd_s/commit/100394ab8edd294bdff554b0a2db6543eba8abe2#diff-878989239e07228f7903fde98f4

[2016-02-04 00:05] colorful-tones opened #146 "Remove /bower_components from version control"
I would recommend we .gitignore bower_components/

[2016-02-04 00:51] colorful-tones commented on #144
We probably should not be enqueing bower_components, and probably not including the whole animate.css library, and only use what we need, when need for optimal speed performance.

[2016-02-04 14:19] gregrickaby commented on #146
Unless you have a build server, you're not supposed to ignore `bower_components/`.

Unlike `node_modules/`, `bower_components/` was meant to house dependencies that will be served to the end user. http://stackoverflow.com/a/22328067

[2016-02-04 14:23] colorful-tones commented on #146
All bower_components are available as NPM packages, and are up-to-date. Wonder if we should drop using Bower, and just streamline tooling to use NPM only?

It would look something like this:
https://github.com/colorful-tones/wd_s/blob/media-query-splitting/package.json#L40
https://github.com/colorful-tones/wd_s/blob/media-query-splitting/Gruntfile.js#L90

[2016-02-04 14:26] gregrickaby commented on #146
We discussed this on the Designers call last week. We voted to keep using Bower because the NPM versions of both Bourbon & Neat are out-of-date.

[2016-02-04 14:29] colorful-tones commented on #146
They can't be out of date, and are not out of date, because they're served from the same repo. The only discrepancy may be the author forgot to update the package.json version number when bumping up their project version number.

NPM - Publishing NPM Packages - [Updating the Package](https://docs.npmjs.com/getting-started/publishing-npm-packages#updating-the-package)

[2016-02-04 14:55] gregrickaby commented on #146
Believe me, nobody wants to ditch Bower (and move to NPM) more than I. (Heck, I'm using NPM to enqueue Bourbon/Neat in the [Gulp feature branch](https://github.com/WebDevStudios/wd_s/blob/feature/gulp/package.json#L33)!)

Let's talk about it again on the next call. Please add it to the agenda, and feel better!

[2016-02-04 15:31] gregrickaby commented on #144
This is part of a larger discussion. I've added to the weekly call agenda! Closing since we're tracking in #148

[2016-02-04 15:31] #144 closed, assigned to nobody

[2016-02-04 15:33] efuller opened #149 "Integrate base Gravity Form styles"
Working on the feature/gravity-forms branch.

Initial Sass file can be found [here](https://github.com/WebDevStudios/wd_s/blob/feature/gravity-forms/assets/sass/plugins/_gravity-forms.scss).

Right now I'm using some local variables to make styling the forms easier, but after bouncing a few ideas around with @colorful-tones I think it might make sense to create global form variables.

Any thoughts

[2016-02-08 15:52] JPry commented on #140
Makepot is working! Here is the link to the changes that I added: https://github.com/WebDevStudios/wd_s/compare/6bc32dfd1d05051fae8e267b5690ed91b2f2375f...be4e1812696c2a0b908e7418ff33b1cf549c873e (updated)

[2016-02-08 16:15] JPry commented on #140
We may be able to use `gulp-notify` for Notifications: https://github.com/mikaelbr/gulp-notify. I started to look into it and it seems like it would do what we need.

[2016-02-10 15:37] colorful-tones commented on #136
Pattern Library: Part Living Style Guide, Part Pattern Lab

Ok, things have significantly changed around this, and I have a working prototype using Jekyll (static site generator) and leveraging the Gulp branch of wd_s. Test it out here: https://github.com/WebDevStudios/wd_s/tree/feature/pattern-library

A bit more info is here: https://github.com/WebDevStudios/wd_s/tree/feature/pattern-library/pat

[2016-02-10 15:46] colorful-tones commented on #149
Yeah, I think having a `_forms.scss` partial inside the `assets/sass/utilities/variables/` would totally make sense. I would even argue that I would like to see use of both local and global variables in this instance. So the global form variables are things like this in the `_forms.scss` partial...`$form-background: $color-white;` and then local variables in `_gravity-forms.scss` partial, like `$g

[2016-02-10 15:51] colorful-tones commented on #136
2.0 to-do list:
- [x] put all wd_s assets/sass/patterns/*.scss inside of Pattern Library /src
- [x] put all wd_s assets/js/patterns/*.js inside of Pattern Library /src
- [x] ~~yo generator to copy patterns into WP theme~~ Patterns are inside of theme instead of library
- [x] ~~package as stand-alone NPM package in own Github repo~~ moving to 2.0

[2016-02-10 20:38] gregrickaby commented on #140
Update:

Currently at a stand-still until https://github.com/thoughtbot/neat/pull/397 is merged in. This will allow us to drop both Bourbon/Neat from Bower and use them as NPM packages instead.

Growl notifications on error are still under development. Thanks to @allisonplus for helping me with that and @JPry for getting Makepot working.

[2016-02-11 14:19] #146 closed, assigned to colorful-tones

[2016-02-11 21:01] colorful-tones commented on #140
I added error handling monkey-patch with gulp-plumber, gulp-util, and gulp-notify. Tested, and works with failed Sass and JS compilations. Can't wait for Gulp 4.0 with error built in. 🦄

Associated commits:
- [add gulp-util to package.json](https://github.com/WebDevStudios/wd_s/commit/c0f220be92e57ec03bb5d327ba7f62dc31735550)
- [set var gutil = require('gulp-util')](https://github.com/WebDevStudio

[2016-02-11 22:40] gregrickaby commented on #140
Putting this through it's paces on a personal client and I've found the following things:
- [x] Remove all previous error handling code from Gulpfile.js
- [x] Svgmin isn't remove stroke/fill
- [x] SVG template tag is calling .icon-svg-name instead of just .svg-name
- [x] CSS that targets SVGs will need to be updated
- [x] Rename scripts.js to project.js inside scripts.php
- [x] BrowserSync isn't p

[2016-02-12 00:06] mindctrl commented on #142
@colorful-tones for the sake of education, what exactly makes that invalid markup?

[2016-02-12 00:50] colorful-tones commented on #142
@mindctrl thanks for asking... I updated statement above, which I hope clarifies your question.

[2016-02-12 03:44] gregrickaby commented on #140
Ok, all the above issues have been checked off (including all original requirements). I've spent the last hour trying to break it, and now everything is working as expected with these commits: https://github.com/WebDevStudios/wd_s/compare/2aaf82ba709c...e72580691a6c

IMHO: Gulp is ready to be merged in, as soon as https://github.com/thoughtbot/neat/pull/397 is merged into https://github.com/though

[2016-02-12 14:19] gregrickaby commented on #149
Be sure to check form styles after a successful Ajax submission. This has bitten me in the past...

[2016-02-12 14:21] gregrickaby commented on #64
With #140 coming soon, I'd like to discuss what's next with Gulp.

Ideally, a user would CD into their theme directory and type `gulp wd_s` (or whatever) and answer a few questions and be on their way.

[2016-02-12 14:23] colorful-tones commented on #149
Barely worth noting, and probably overkill, but we might want to think about overriding [GF helper layout classes](https://www.gravityhelp.com/css-ready-classes-for-gravity-forms/) to use Flexbox if we're going to be ALL OVER the FLEXBOX!

[2016-02-12 14:39] bradp commented on #64
I have code for a Yeoman generator for this.

https://github.com/WebDevStudios/generator-wd-s

I think fixing the issues in that is worth it, rather than using grunt-init, which I believe is deprecated.

The problem, as we've discussed in the past, with including a generator in this repo is that doesn't allow someone to just download the zip or clone it down. OR we need to keep two versions in che

[2016-02-12 14:46] efuller commented on #149
**Current Todo List:**
Feel free to add items if there is anything specific that should be addressed.
- [x] Create `_forms.scss` inside `utilities/variables` to hold global form variables
- [x] Convert `modules/_forms.scss` to use new global variables
- [x] Setup `plugins/_gravity-forms.scss` with local varaibles
- [x] Mobile Responsive
- [x] Style form after successful/unsuccessful Ajax submissio

[2016-02-12 15:07] briannaorg commented on #64
I have a version of the grunt-init wd_s that writes a Gulpfile instead, but haven't pushed it to the repo yet since the Gulp wd_s isn't on master.

There isn't a gulp-init (yet, or possibly ever) and Yeoman is fine if we update it and figure out a way to make sure it's synced with the latest wd_s. There are Yeoman Gulpfile generators out there to also use as a guideline with the build script just

[2016-02-12 15:35] colorful-tones commented on #64
Copy/pasting from internal discussion for posterity...

[2016-02-12 16:23] gregrickaby commented on #64
The trouble with Yeoman, is you're not only asking someone to install it (which is a barrier), but also keep our generator up-to-date with `npm update -g generator-s` (another barrier). Internally, we have to maintain a generator which uses a different language/syntax in a different repo.

IMHO this is the ideal workflow:
- User downloads or clones wd_s into their WordPress theme directory
- User

[2016-02-12 16:31] colorful-tones commented on #64
Would be cool to get some auto-generating Semantic Versioning headers built-in, but would be good 2.0 goal.

Also, I recommend for anybody getting started with Gulp to check out the official recipes: https://github.com/gulpjs/gulp/tree/master/docs/recipes

[2016-02-12 16:38] bradp commented on #64
@gregrickaby +10 to that.

The more we can keep a generating tool within the context of this project, the less maintenance there will be.

[2016-02-15 21:08] colorful-tones opened #151 "Fluid Video (object, embed, iframe) CSS"
I thought we had something in place, and maybe got taken out, but thought we should have basic, reusable CSS for this in /base/_media.scss

[code]

Further reading:
- CSS-Tricks.com: "[Fluid Width Video](https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php)"
- [EmbedResponsively.com](http://embedresponsively.com/)

[2016-02-16 14:14] gregrickaby commented on #151
I thought we did too...

I know I did a CodePen with this same code: http://codepen.io/webdevstudios/pen/dGeQEm?editors=1100

[2016-02-16 14:32] gregrickaby opened #153 "Create Gulp based theme generator"
Based on both conversations internally and on #64, @briannaorg is going to attempt to create a theme generator using Gulp. What I'd like to see is someone clone/download wd_s and then type: `npm install && gulp wd_s` to get spun up.

Following the current search/place instructions (as listed in the readme), here are some requirements:
- [ ] Prompt user with question about new project name
- [ ] Fi

[2016-02-16 14:35] gregrickaby commented on #64
I believe we currently have a working Grunt generator. Internally, we've decided to work on a Gulp generator. Therefore, I'm respectfully closing this issue. Follow @briannaorg's work on the development of a Gulp generator here: #153

[2016-02-16 14:35] #64 closed, assigned to briannaorg

[2016-02-17 19:31] #149 closed, assigned to efuller

[2016-02-17 19:49] gregrickaby opened #156 "Bring current with _s"
Please go through the list of commits to [master](https://github.com/Automattic/_s/commits/master) and add them to our repo.

There is no fancy auto-merge-fast-forward-upstream method to do this. While we're a fork, we have different opinions/direction for certain things. Generally, I'm focused on keeping the html markup/php/js similar. We've gone in a completely different direction with CSS/Sass.

[2016-02-17 19:57] gregrickaby opened #157 "Sass Linter"
Would be cool to run our Sass through a linter before compiling. Run it against a list of WP & WDS code standards. It could also check for misspellings, etc...

[2016-02-18 03:22] ryanvaness opened #158 "customizer.js"
Function _s_customize_preview_js Line 84 in customizer.php should have '/assets' prepended.

**Current**
wp_enqueue_script( '_s_customizer', get_template_directory_uri() . '/js/customizer.js', array( 'customize-preview' ), '20130508', true );

**Fix**
wp_enqueue_script( '_s_customizer', get_template_directory_uri() . '/assets/js/customizer.js', array( 'customize-preview' ), '20130508', true );

[2016-02-18 21:32] efuller commented on #157
I am going to test this package - https://www.npmjs.com/package/gulp-sass-lint

[2016-02-19 16:35] gregrickaby commented on #140
Good news! https://github.com/thoughtbot/neat/pull/397 has been merged in. I'm told that they will have an update to NPM early next week. Once this drops, we'll be ready to merge this in.

[2016-02-19 16:45] colorful-tones commented on #140
[![selfie-3](http://i.imgur.com/8s2n8xa.gif)](https://github.com/thieman/github-selfies/)

[2016-02-19 20:24] efuller commented on #157
Branch: [feature/gulp-sass-lint](https://github.com/WebDevStudios/wd_s/tree/feature/gulp-sass-lint)

I was able to get an initial, basic configuration setup. Right now, linting is only checking for `property-sort-order`. Rules can be added as necessary.

Here are some bullet points of what was done:
- `gulp-sass-lint` was added as a dependency
- added `.sass-lint.yml` - configure the rules here
-

[2016-02-19 21:31] gregrickaby commented on #157
Ok, took the ball and ran down to the 1 yardline. I believe I've got the lint rules matching both WDS and WP standards. I'm sure there will be improvements, but for now, this will alert a dev if they miss something! :smiley:

This has been merged into: https://github.com/WebDevStudios/wd_s/tree/feature/gulp. Which I plan on merging into master on Monday.

Also, we'll need to create another issue t

[2016-02-20 02:27] colorful-tones commented on #157
I cleaned up as many Warnings as I could. I also [altered the config to allow-rgba: true](https://github.com/WebDevStudios/wd_s/commit/7389713e6f592788d733f77a31b4c89ac1ed5cb7) for no-color-literals, otherwise, we would not be able to use rgba unless it was inside a variable or map-list. Basically, this was not allowed:

[code]

There are more than a dozen Warnings left, but I was not sure how to

[2016-02-22 14:39] colorful-tones opened #161 "Implement semantic versioning on wd_s"
Would love to see semantic versioning rolled out in wd_s: http://semver.org/

[2016-02-22 14:43] gregrickaby commented on #161
I feel like not having versioning is part of the allure of _s. Adding versioning will introduce more overhead for those responsible for maintaining wd_s (e.g., me). Instead of just iterating and pushing, everything has to be put on a timetable and put into releases. That feels too formal.

I welcome the discussion though...

[2016-02-22 15:03] bradp commented on #161
I agree with @gregrickaby on this one.

One of the biggest benefits of _s, and also wd_s is that you don't need to back-port any features or changes into older projects. I like the fact that there is no version number, I'm just using wd_s from when I grabbed it.

We don't need to have a timetable if we do adopt a versioning scheme, but I don't think we need a versioning scheme at all for this.

[2016-02-22 15:05] colorful-tones commented on #161
It is only as formal as we make it, and versioning does not necessarily add that much overhead. Ultimately, it is just a number at the top of files.

At some point we _may_ want to grow to allow for more people being responsible for maintaining this project, and encourage less ownership, and more transparency and collaboration. I imagine this would be better suited for internal discussion, and jus

[2016-02-22 15:16] gregrickaby commented on #161
If it's just a "number on top of a files", then we're not really versioning. @bradp is right, versioning requires careful testing to ensure when someone upgrades - a user's theme doesn't break. It's going to take what I consider a very agile project, and slow it to a crawl.

That's not necessarily a bad thing and it works for most software. While public, wd_s is still at its core, internal dog foo

[2016-02-22 16:40] #140 closed, assigned to gregrickaby

[2016-02-22 16:45] gregrickaby commented on #157
This was merged in with Gulp. https://github.com/WebDevStudios/wd_s/commit/b3133604b8b69804058cd70cad2e65d53ecf152d

[2016-02-22 16:45] #157 closed, assigned to gregrickaby

[2016-02-22 16:46] #158 closed, assigned to gregrickaby

[2016-02-23 20:54] colorful-tones commented on #136
I've added all the approved Pens from WDS CodePen library to the wd_s Pattern Library.

Now the Pattern Library needs testing, testing, and more testing. Please help with testing.

I've got [instructions on how to get spun up](https://github.com/WebDevStudios/wd_s/tree/feature/pattern-library/pattern-library), and happy to help anybody that needs help. If roadblocks are encountered either ping me

[2016-02-29 15:23] gregrickaby opened #162 "Update Gruntfile.js to point Bourbon/Neat at node_modules"
Even though we've moved onto Gulp, I want to make sure Grunt still works for the time being. I want to move Bourbon/Neat to NPM. Update Package.json and Gruntfile.js accordingly.

[2016-03-02 19:56] efuller opened #163 "Form.scss variables should be using the global variables"
It appears that the [_form.scss ](https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/modules/_forms.scss)variables have gotten reverted back to what they were before global variables were implemented. Need to get them changed back to use the globals.

[2016-03-03 17:29] colorful-tones commented on #142
We [removed id="site-navigation"](https://github.com/WebDevStudios/wd_s/commit/1d4bd6f79dfa3ca44f177d406995542fdd8a725c) which is targeted by navigation.js for mobile menu. This will need to be fixed.

[2016-03-03 17:31] colorful-tones opened #164 "Add concat_scripts to watch in Gulpfile.js"
Since I split out the two tasks in to separate tasks for concat and uglify I forgot to add separate watch task as well. Need to add watch task.

[2016-03-03 17:32] colorful-tones commented on #151
This seems to not be on master. I'll see what is up.

[2016-03-03 23:20] colorful-tones commented on #151
I added this again, and don't know what happened to original merge. ¯_(ツ)_/¯
https://github.com/WebDevStudios/wd_s/commit/a884cd80c9a24a1db74cbe21164d6b7ba708c323

[2016-03-03 23:20] #151 closed, assigned to colorful-tones

[2016-03-03 23:26] colorful-tones commented on #142
I added id back for main nav as navigation.js is tied to it.

[2016-03-03 23:26] #142 closed, assigned to colorful-tones

[2016-03-03 23:32] colorful-tones commented on #164
This is fixed https://github.com/WebDevStudios/wd_s/commit/fab8f29449cb758c5fa0fc85b001d44cbc6a5b4a

[2016-03-03 23:32] #164 closed, assigned to colorful-tones

[2016-03-07 16:10] efuller commented on #163
This is fixed. b8fd32e34a076749d607afb92d73a6dc1d89cdf0

[2016-03-07 16:10] #163 closed, assigned to efuller

[2016-03-08 14:29] gregrickaby opened #165 "Buttons in IE"
This is a recurring QA task: "Fix button padding in IE".

Let's just fix it here and be done with it! :smile:

[2016-03-22 18:30] krogsgard opened #166 "Add @package _s to search/replace list"
I'd add `@package _s` to `@package project-name` to the list of stuff to search and replace for.

[2016-03-22 19:19] krogsgard commented on #166
I should note that I mean on the home page readme, not anywhere code-wise :)

[2016-03-24 15:16] gregrickaby commented on #166
Hey @krogsgard... I can certainly do this, but wanted to confirm that wasn't already being handled with:
- Search for (and include the leading space): <code>&nbsp;_s</code> and replace with: <code>&nbsp;Project Name</code> (with a space before it) to capture DocBlocks

[2016-03-25 01:34] krogsgard commented on #166
Derp, @gregrickaby I think you're right. I missed the space note there so that should probably take care of it. I skipped that step before.

[2016-03-25 01:34] #166 closed, assigned to nobody

[2016-03-25 19:21] gregrickaby commented on #166
@krogsgard We're working on a Gulp generator...that way, you wont have to do any of this by hand! :smile:

[2016-03-28 15:00] gregrickaby commented on #156
FYI. I brought current on March 28, 2016.

[2016-04-01 01:50] gregrickaby opened #167 "Add simple grid using presentational classes"
I would like to propose, the creation of a simple grid, using presentational classes such as:

`.column-one-third`, `.column-two-thirds`, `.column-one-half`, etc...

Usage would be as follows:

[code]

(I will explain that mixin in a moment)

I know (back when @stacyk) was still at WDS, we voted against using presentational classes in markup and ripped out a grid. However, after working with this

[2016-04-01 01:56] #161 closed, assigned to nobody

[2016-04-01 01:57] gregrickaby commented on #162
On second thought... I ain't got time for dis. :hourglass_flowing_sand:

[2016-04-01 01:57] #162 closed, assigned to gregrickaby

[2016-04-01 01:58] gregrickaby commented on #138
Just doing some housekeeping @colorful-tones; do you want me to keep this issue open?

[2016-04-01 13:17] briannaorg commented on #167
I think this really speeds up scaffolding and takes the best part of grid based CSS frameworks and leaves the cruft. And it's readable. Plus it lets flex shine on the vertical positioning and omits the issues I've run into using nested flex items. Two thumbs up.

[2016-04-04 13:32] coreymcollins commented on #167
Aren't things like site-header, site-footer, etc. semantic classes rather than presentational classes?  Semantic classes tell you what is in the container, and what is in those containers is the site header and footer respectively.

HTML5 spec (http://w3c.github.io/html/dom.html#classes) mentions (and is mentioned in that Tympanus article):

I get that it makes things easier and a bit faster to do

[2016-05-08 15:23] samikeijonen opened #168 "Adding aria-hidden="true" in SVG markup"
How do you feel about adding `aria-hidden="true"` in SVG markup? In most cases icons are kind of decorative and for accessibility reason markup could be like this:

[code]

I'm using almost [the same function](https://github.com/samikeijonen/some/blob/master/inc/template-tags.php#L41) than `_s_get_svg()` but added ARIA rule as one of the arguments.

[2016-05-09 14:12] gregrickaby commented on #168
I like it! 👍  Added here: https://github.com/WebDevStudios/wd_s/commit/d5a3f1eb91344d6d49e3478afd729020bde770a6

[2016-05-09 14:12] #168 closed, assigned to nobody

[2016-05-09 14:13] gregrickaby commented on #153
Now that https://wdunderscores.com is up and running; do we still want to pursure this @briannaorg?

[2016-05-09 14:14] gregrickaby commented on #138
Last call @colorful-tones... thoughts on leaving this open?

[2016-05-09 14:16] colorful-tones commented on #138
The only reason I left it open, because you told me to when I asked if I should. Closing.

[2016-05-09 14:16] #138 closed, assigned to colorful-tones

[2016-05-09 14:18] briannaorg commented on #153
I assumed https://wdunderscores.com was intended to replace this. The results of my work over here basically took us to the same place as the grunt init generator for wd_s that is already working - instead of a simple JS-based search and replace in the same directory using gulp tasks, we would have to have the files in a separate directory and write a Slush generator for it. Which is fine, but the

[2016-05-09 14:20] gregrickaby commented on #153
👍

[2016-05-09 14:20] #153 closed, assigned to briannaorg

[2016-05-18 08:59] samikeijonen opened #169 "Speed comparison for SVGs"
SVGs is one of the best parts of your cool `wd_s`. I was wondering have you compared page speed between
-  Font Icons, let's say Genericons.
- Inline SVG sprite as you're using in `wd_s`.
- External SVG sprite with [svgxuse](https://github.com/Keyamoon/svgxuse).

I assume that inline SVG sprite is the fastest if you only have couple of icons. But if you have plenty of icons (30-50) I was wondering

[2016-05-18 12:27] gregrickaby commented on #169
@samikeijonen We have not compared, but this sounds super interesting! I'd love to see the results.

We've had projects with 30+ icons, and yes, it would be great to cache that. I think though, if a user is running HTML caching then the icons sprite (which is written into the HTML) should be cache though?

I might need to put this through the paces and let you know. Thanks!

[2016-05-18 12:37] samikeijonen commented on #169
This is what I have thought also but I'm definitely not a cache ninja.

I'll also try to create some kind of comparison.

[2016-05-19 03:11] gregrickaby opened #170 "Add modal support"
I'd like to discuss this, specifically our requirements. Several projects lately need modals.

We have two CodePens for modals:

This one (which is based on Refills)
http://codepen.io/webdevstudios/pen/MKGXLx

This one (which supports multiple modals and media)
http://codepen.io/webdevstudios/pen/GZbRyL/

[2016-05-31 21:02] colorful-tones opened #172 "Javascript Gulp tasks not working"
I discovered this awhile ago, and been meaning to post ticket. However, since it was awhile ago I don't have detailed explanation.

Basically, if I recall correctly there is an issue between when items are clobbered especially in relation to any file created within the /js/ folder, and doesn't necessarily affect the project.js and /concat/ setup. I think we'll probably need to look in to using gul

[2016-06-06 19:38] gregrickaby commented on #172
It would seem there are two parts to this ticket. 1) You're saying "it doesn't work" 2) Optimization

**1**
Can you provide an specific example of it "not working"? We've been using Gulp "scripts" for months, and on at least 4-5 projects, so if this is broken - we need to do triage ASAP.

**2**
I like the idea of each page having it's own file, which would get minified and enqueued on demand.

How

[2016-06-06 19:56] coreymcollins commented on #172
To chime here on #1 - this is what I get when I save a JS file while `gulp watch` is running:

`events.js:141`
`throw er; // Unhandled 'error' event`
`^`

`Error: ENOENT: no such file or directory, open '/Applications/MAMP/htdocs/PROJECT_NAME/wp-content/themes/THEME_NAME/assets/js/project.js'`
`at Error (native)`

Once this happens, there are no more minified JS files in the root JS directory.  It

[2016-06-06 20:31] gregrickaby commented on #172
I'm seeing this too! I know this used to work - maybe it's a Node thing.

**Will look into this.**

BTW: It's supposed to "clean" the compiled scripts by deleting them, and then re-compiling. That's a standard Gulp/Grunt thing.

[2016-06-06 20:35] coreymcollins commented on #172
Yup, figured that was what it was attempting to do but missing a step somewhere between "clean" and "recompile".  That damn Gulp is Gulping too quickly and our files can't keep up!

[2016-06-06 22:08] colorful-tones commented on #172
I didn't have #5ftf time today, therefore didn't have time to follow up on this with both more details and a full fix. Will try next chance I get.

I would say we owe it to all our client's and their users to take any necessary steps to optimize as much a possible, both Jacascript and CSS.

[2016-06-07 15:08] aubreypwd commented on #172
It seems https://github.com/WebDevStudios/wd_s/blob/master/Gulpfile.js#L63 is the culprit of the _no such file or directory_ issue. Removing this has stopped the error. I think another function is trying to process further the `.min` files and they had not been generated yet.

[2016-06-09 17:06] flegfleg opened #173 "Reload browser on php file change?"
Hi, i´m new to gulp.
There is no reloading the browser on changes of the php files, am i correct?
I tried adding it like this but it doesn´t refresh. Can someone point me in the right direction?
thanks!

[code]

[2016-06-13 12:44] #172 closed, assigned to colorful-tones

[2016-06-13 12:44] gregrickaby commented on #172
Removed "clean" for now. This was only happening in the latest version of Node. Will circle back around for a better fix.

[2016-06-13 18:57] colorful-tones opened #174 "Remove support for Page Builder if we're no longer using?"
Please verify whether we're still using Page Builder and want to have out-of-box support for it in wd_s.

https://github.com/WebDevStudios/wd_s/blob/master/inc/scripts.php#L83

Make sure there a no other references within theme if we remove.

[2016-06-30 20:53] gregrickaby commented on #165
@colorful-tones shared this... http://jxnblk.com/formula/

@coreymcollins suggested using flexbox

[2016-06-30 20:54] gregrickaby opened #175 "Create basic styles for ancillary pages like 404/Search/Archives etc..."
Based on our FED call on June 30th, this pages always seem to come up in QA. Let's add some super basic styles so these pages look less terrible out of the box.

[2016-06-30 20:55] gregrickaby commented on #174
Sounds good to me. Make it so.

[2016-06-30 20:56] gregrickaby commented on #173
You are correct. We should make this work, it would be nice!

[2016-06-30 20:57] gregrickaby commented on #167
Closing. No longer interested in doing this.

[2016-06-30 20:57] #167 closed, assigned to nobody

[2016-06-30 20:58] gregrickaby commented on #137
This was merged in! Closing!

[2016-06-30 20:58] #137 closed, assigned to coreymcollins

[2016-07-11 16:48] colorful-tones opened #176 "remove animate.css enqueue"
We're [enqueue'ing animate.css](https://github.com/WebDevStudios/wd_s/blob/master/inc/scripts.php#L70) via Bower even though it is [not declared as a Bower dependency in bower.json](https://github.com/WebDevStudios/wd_s/blob/master/bower.json). I think this was our first attempt at originally integrating animate stuff in wd_s before we decided to use the animate.scss methodology: https://github.co

[2016-07-28 20:09] gregrickaby opened #177 "Add-on Scaffolding"
On our Thunderdome yesterday, @colorful-tones suggested scaffolding BuddyPress, WooCommerce, SassDocs, etc... like the WDS Plugin Generator.

Would love to remove some of the more custom elements of wd_s out of the box, and instead make them available as an "add on" via Gulp.

The command would be something like:

`gulp add woocommerce`

It would tell Gulp to add the usual WooCommerce template fil

[2016-07-28 20:15] coreymcollins opened #178 "Research possible SEO impact of title tags in SVG output"
Our SVG sprite generator outputs the SVG images after the opening body tag.  This includes `<title>` tags.  We should look into the possible SEO impact, if any, of having several `<title>` tags in place at the very start of a page.

[2016-07-28 20:23] colorful-tones commented on #177
For the record I recommend we use Yeoman, and would also suggest we start project as new, blank slate. Therefore, we would have a parent WordPress skeleton generator that would generate a barebones theme, think _s, but stripped down even further. Then have sub-generators to add Sass, JS configs, BuddyPress, WooCommerce, SassDoc, Animations.scss, and even Bourbon/Neat.

I think it would be benefici

[2016-07-29 14:08] gregrickaby opened #179 "Search box clearing on click"
When you click in it clears, when you click out it replaces with placeholder text

[2016-07-29 14:09] gregrickaby opened #180 "Replace "..." with "Read More""
On the excerpt replace the dots with Read More

[2016-07-29 14:11] gregrickaby opened #181 "Adjust comment boxes for logged out users"

[2016-07-29 14:12] gregrickaby opened #182 "Better nested comments for mobile"
When you get past 5 levels deep, comment nesting is pretty rough on mobile.

This is for default WP comments.

[2016-07-29 14:18] gregrickaby opened #183 "Remove hand icon from buttons"

[2016-07-29 14:19] gregrickaby opened #184 "Basic table styles"
Try to make them more responsive too.

[2016-07-29 14:25] gregrickaby opened #185 "Add hero support"
Add basic hero styles (from Flexbox heros on CodePen) in a partial

[2016-07-29 14:56] gregrickaby opened #186 "Misc. clean ups"
There are a few areas where items are misspelled and missing a space. Also need to update the JS in /concat from "that" to "app". Could also update comments to our new comment standardization.

[2016-07-29 15:08] ImBigWill commented on #176
Removed animate.css enqueue from scripts.php, gulpfile.js, and the folder within assets/sass/utilities as well as the call for it in assets/sass/style.scss

In Branch:
**feature/remove-animate-css**

[2016-07-29 15:15] gregrickaby commented on #185
All set!

Added styles from [Flexbox Hero CodePen](http://codepen.io/webdevstudios/pen/RRrJLP).

Just need to drop the matching markup (from CodePen) anywhere and this hero will load.

![hero](https://cloud.githubusercontent.com/assets/200280/17253165/27ca581c-5575-11e6-9e4c-7e0bb14d2af4.jpg)

[2016-07-29 15:16] #185 closed, assigned to gregrickaby

[2016-07-29 15:38] gregrickaby commented on #156
FYI: I brought current on July 29, 2016. Commit: https://github.com/WebDevStudios/wd_s/commit/c8656a056cf37f2deb31f6d84bdd7f6c3afb7f6e

[2016-07-29 15:41] ImBigWill commented on #174
Removed support from scripts.php and did not find any reference to it in the theme currently.

Branch:
**feature/remove-page-builder-support**

https://www.dropbox.com/s/1db3e33cilkflr7/Screenshot%202016-07-29%2011.40.32.png?dl=0

[2016-07-29 15:55] #174 closed, assigned to gregrickaby

[2016-07-29 16:02] coreymcollins commented on #170
Added!

Branch is [feature/modals](https://github.com/WebDevStudios/wd_s/tree/feature/modals)

Used the CodePen link above for [multiple modals](http://codepen.io/webdevstudios/pen/GZbRyL/), as the first one is now deprecated.

I updated some of the JS here as well.
- Updated some of click calls to use `$( 'body ').on( 'click', '.element', app.functionName )` rather than listening for a click on t

[2016-07-29 16:04] #170 closed, assigned to gregrickaby

[2016-07-29 16:14] coreymcollins commented on #183
This has been updated in the [feature/button-hover-cursor branch](https://github.com/WebDevStudios/wd_s/tree/feature/button-hover-cursor)

Buttons should use the default cursor and not the pointer/hand cursor when hovered.

Previous:
![wd_s-button-hover-old](https://cloud.githubusercontent.com/assets/954724/17255132/de7b5394-5585-11e6-8901-26c5cf291478.gif)

Updated:
![wd_s-button-hover-new](https

[2016-07-29 16:36] ImBigWill commented on #181
Adjusted comment boxes slightly for logged out users to look a little less clunky out of the box for mobile and desktop.

Branch:
**feature/comment-box-fields-logged-out**

Some Before Screenshots:

https://www.dropbox.com/s/6d4ddp69eibdjl8/Screenshot%202016-07-29%2012.32.04.png?dl=0

https://www.dropbox.com/s/3sibx2bmb1mg642/Screenshot%202016-07-29%2012.32.19.png?dl=0

[2016-07-29 16:39] #173 closed, assigned to gregrickaby

[2016-07-29 16:42] #181 closed, assigned to gregrickaby

[2016-07-29 16:43] #183 closed, assigned to gregrickaby

[2016-07-29 16:58] gregrickaby commented on #177
I love this idea.

Creating a Yeoman generator for "projects" needs to be the long term solution. The "project generator" would replace the "plugin generator" and include a "theme generator" (as well as several sub-generators).

This idea though, will require a conversation between @bradp and the rest of the Leads.

In the meantime, I think we can try to create a nifty sub-generator using (Gulp) h

[2016-07-29 17:19] jomurgel commented on #184
I think we're all set.  Basic table styles with a responsive treatment on > 640 rems screens.

![screenshot 2016-07-29 10 16 15](https://cloud.githubusercontent.com/assets/5230729/17257143/8a9862ea-5575-11e6-806d-dac6ee3b7f5a.png)

![screenshot 2016-07-29 10 17 26](https://cloud.githubusercontent.com/assets/5230729/17257166/ab94905e-5575-11e6-8b0f-0543ba83a502.png)

[2016-07-29 17:46] ImBigWill commented on #175
These actually are decent out of the box with wd_s currently. I wonder if my thoughts on this were project specific making things seem like they were wonky. However I did remove the extra widgets from the 404 page as discussed and made a small change on archives so that leave a comment text didn't run into the category links. There are probably more things that could be adjusted, but I didn't want

[2016-07-29 17:50] allisonplus commented on #180
**Branch:** [feature/read-more](https://github.com/WebDevStudios/wd_s/tree/feature/read-more)

Added:
`_s_modify_read_more_link()` which affects manual insertion of "Continue Reading"

![screen shot 2016-07-29-inline-read-more-after](https://cloud.githubusercontent.com/assets/10225971/17258056/678cc2e8-5582-11e6-9981-75b35915d30c.png)

`_s_excerpt_more( $more )`which can be used to alter the text

[2016-07-29 17:51] #175 closed, assigned to gregrickaby

[2016-07-29 17:57] #184 closed, assigned to gregrickaby

[2016-07-29 18:00] coreymcollins commented on #178
I don't think there is any cause for concern here.  Including the `<title>` tag makes the SVG accessible the same way `alt` tags work on standard images.

[This blog post](http://thenewcode.com/1026/Making-SVG-Accessible) offers a nice and quick read on SVG accessibility

Additionally, running that site through the W3 Validator does not come back with any issues related to multiple title tags.  Yo

[2016-07-29 18:01] gregrickaby commented on #178
💥

[2016-07-29 18:01] #178 closed, assigned to gregrickaby, coreymcollins

[2016-07-29 18:04] gregrickaby opened #187 "Add SVG title fallback"
If there's a title use it, if not, use the icon name.

[2016-07-29 18:13] #187 closed, assigned to gregrickaby

[2016-07-29 18:29] #180 closed, assigned to gregrickaby

[2016-07-29 18:37] benjaminmueller commented on #179
When the search field is focused on (clicked on or tabbed into...) the placeholder text is removed and is assigned to the `.data()` method to be used for later.

When the search field looses focus then the placeholder text is added back in by grabbing the text from the data attribute that we assigned the value to beforehand. This has been tested with multiple search fields on the page to ensure th

[2016-07-29 19:16] gregrickaby commented on #169
After spending an hour doing some research, here are my findings.
- It's not possible to "enqueue" `svg-icons.svg` The file itself must be written to the DOM.
- Prior to Chrome 37, all the svg "guts" needed to render after `<body>`
- That Chrome [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=349175) has been squashed!
- Now, we can move the svg "guts" to the footer.

**Average results

[2016-07-29 19:16] #169 closed, assigned to nobody

[2016-07-29 19:24] #179 closed, assigned to gregrickaby, coreymcollins

[2016-07-29 19:30] allisonplus commented on #182
**Branch:** [feature/nested-comments](https://github.com/WebDevStudios/wd_s/tree/feature/nested-comments)

Added base styling for default WP nested comments, specifically to make them a little less cumbersome on mobile.

_Previously appeared as:_

![screen shot 2016-07-29-mobile-previously](https://cloud.githubusercontent.com/assets/10225971/17260551/524ad3aa-558e-11e6-825d-7bee31880ed1.png)

_Wit

[2016-07-29 19:36] #182 closed, assigned to gregrickaby

[2016-07-29 19:47] samikeijonen commented on #169
Cool! Thanks for taking time for measuring it.

[2016-07-29 20:27] ImBigWill commented on #186
Added comments for a number of the partials with some help at the end from Allison. May have missed one or two things because it's a lot, but this is in a pretty good spot.

feature/comment-partials-update

[2016-07-29 20:28] allisonplus commented on #186
**Branch:** [feature/comments-partial-remaining](https://github.com/WebDevStudios/wd_s/tree/feature/comment-partials-remaining)

Updated remaining partials (`_jetpack`, `_layout`, `_widget`) and fixed a few typos.

[2016-07-29 20:31] #186 closed, assigned to gregrickaby

[2016-07-29 21:02] jomurgel commented on #165
Possible bug with IE and line-height if height doesn't equal line-height.  Defining min-height of buttons and vertical alignment of bottom seems to fix vertical alignment.

[2016-07-29 21:31] #165 closed, assigned to gregrickaby

[2016-08-03 07:33] samikeijonen commented on #187
Hmmm if there is `aria-hidden=true` does it matter do you even have desc and title?

[2016-08-08 15:18] gregrickaby opened #188 "Rename "assets/js" to "assets/scripts""
Everything else in the assets folder is (fully) named after the thing it's holding (images, sass) why not change _js_ to scripts?

[2016-08-11 17:17] #188 closed, assigned to gregrickaby

[2016-08-23 15:51] gregrickaby opened #190 "Remove "do" functions"
There's really no need to include pre-built "do" functions, when one can simply `echo` any of the "get" functions.

[2016-08-23 15:52] gregrickaby opened #191 "Convert any remaining template tags to use output buffering and "get""

[2016-08-23 15:52] gregrickaby opened #192 "Add more social links to customizer, and create getter function to pull them out"

[2016-08-23 15:55] gregrickaby opened #193 "General code sweep and clean ups."
Comb through all Sass, JS, and PHP/HTML and make sure everything is up to current WDS standards.

[2016-08-23 20:37] gregrickaby opened #194 "When compiling SVGs, go ahead and strip out all the cruft before placing into `svg-icons.def`"
Mostly inline styles...

https://github.com/WebDevStudios/wd_s/blob/master/Gulpfile.js#L163

[2016-08-25 16:18] gregrickaby opened #195 "Rethink "editor-style.css""
Now that WP has dropped support for Open Sans, we need to also drop it from `editor-styles.css`.

This file could probably go away all together, since it makes assumptions on how the user's content should appear in the editor. Definitely worth a conversation...

https://github.com/WebDevStudios/wd_s/blob/master/editor-style.css

[2016-08-31 00:45] colorful-tones commented on #176
Why did we remove Animate.scss? This ticket was originally created to remove just the enqueue for animate.css as we no longer were including it via Bower, and for some reason it got left. However, the Animate.scss library is quite useful, and I wrote a whole Readme doc on how to use. Was nobody using it, therefore the team agreed to remove? Just curious. I know we agreed to add Animate.scss as a t

[2016-08-31 12:50] bezierer commented on #176
I must have missed that one, too. I don't think I've been on a project in the last few months where we _didn't_ use animate.css in some capacity.

[2016-09-07 01:26] #194 closed, assigned to nobody

[2016-09-29 03:04] gregrickaby opened #196 "Add eslint"
- Add eslint via package.json
- Add .eslintrc to wd_s and use [wds plugin generator](https://github.com/WebDevStudios/generator-plugin-wp/blob/master/js/templates/_eslintrc.json) to fill ruleset

[2016-09-30 13:06] gregrickaby opened #197 "Modal.js: add 'touchstart' and close when clicking outside"
https://github.com/WebDevStudios/wd_s/blob/master/assets/scripts/concat/modal.js

Consider adding ‘touchstart’ so some js click events for things like modals, also possibly as part of the modal js adding in closing of modal when clicking outside the modal by default, that seems to be a common request as well in addition to closing on click.

[2016-09-30 13:10] gregrickaby commented on #176
I vote we add this back in via NPM or Bower. I really want to keep us away from "maintaining" third party code.

https://www.npmjs.com/package/animate.css

Then, if we need it, just use `@import animate.css`

[2016-09-30 14:33] gregrickaby opened #198 "move normalize.css to npm or bower"
One less third party dependency to maintain...

[2016-09-30 14:37] #196 closed, assigned to gregrickaby

[2016-09-30 15:35] coreymcollins commented on #192
Updates pushed in the `feature/get-social-icons` branch here: https://github.com/WebDevStudios/wd_s/tree/feature/get-social-icons

Customizer before:
![screenshot 2016-09-30 10 29 26](https://cloud.githubusercontent.com/assets/954724/18997263/31903ece-86f9-11e6-9eed-728e72212793.jpg)

Customizer after:
![screenshot 2016-09-30 10 28 55](https://cloud.githubusercontent.com/assets/954724/18997270/382

[2016-09-30 15:52] allisonplus commented on #191
Branch: [feature/do-to-get](https://github.com/WebDevStudios/wd_s/tree/feature/do-to-get)

Converted remaining template tags to use output buffering (get_svg, copyright text, mobile nav, post_image)

[2016-09-30 15:55] allisonplus commented on #190
Branch: [feature/do-to-get](https://github.com/WebDevStudios/wd_s/tree/feature/do-to-get)

Converted remaining 'do' template tags to 'get' (copyright text, mobile nav menu, & post image)

[2016-09-30 16:03] #190 closed, assigned to gregrickaby

[2016-09-30 16:03] #191 closed, assigned to gregrickaby

[2016-09-30 16:06] #192 closed, assigned to coreymcollins

[2016-09-30 16:12] #198 closed, assigned to gregrickaby

[2016-09-30 16:15] gregrickaby commented on #176
I've re-included `animate.css` via Bower and enqueued via `@import animate.css` If we don't use it, simply remove the @import from `style.scss`.

Commit:
https://github.com/WebDevStudios/wd_s/commit/1042a111b5b77c3bdff67058ee4d10c639070130

[2016-09-30 16:15] #176 closed, assigned to gregrickaby

[2016-09-30 17:10] xBLADEx commented on #193
This is ready for review.

[2016-09-30 17:21] xBLADEx commented on #195
Removed the style and enqueue.

[2016-09-30 17:27] #197 closed, assigned to gregrickaby

[2016-09-30 17:28] #193 closed, assigned to xBLADEx

[2016-09-30 17:30] #195 closed, assigned to xBLADEx

[2016-10-13 13:50] colorful-tones opened #199 ".screen-reader-text { white-space: no-wrap; } to avoid smushed phrase"
The issue is explained pretty nicely here: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe#.w165nrvs7

Basically, screen reader reads text as: "SkiptoContent", as opposed to "Skip to Content".

Incoming PR to fix.

[2016-10-13 16:18] colorful-tones opened #200 "update sass-lint.yml"

[2016-10-13 16:44] colorful-tones opened #201 "add .editorconfig"
http://editorconfig.org/

[2016-10-14 18:23] #201 closed, assigned to colorful-tones

[2016-10-14 18:23] #200 closed, assigned to colorful-tones

[2016-10-20 19:16] gregrickaby opened #205 "Add Babel to gulp scripts build process"
We'd like to start writing/using ES6 stuff... will need to add Babel to transform.

[2016-10-20 19:18] gregrickaby opened #206 "Remove Gruntfile.js"
It's been 6+ months since we moved to Gulp. I'd rather not have to continue to maintain a Gruntfile...

[2016-10-20 20:42] colorful-tones commented on #205
I'm still trying to solidify my ES5 training. Therefore, I'm genuinely intrigued to hear more on how we see ES6 and Babel will advance our WordPress-specific infrastructure and tooling?

I would be curious to hear more of the team's thoughts and how comfortable they are with ES5 vs ES6. I'm all about learning the shiny and new stuff, but want to make sure I'm solid on the current standard.

[2016-10-21 13:57] gregrickaby opened #207 "Bring back over Aria/a11y tweaks used in TwentySeventeen's SVG workflow"
As some of you know, _TwentySeventeen_ (the new default theme shipping with WordPress 4.7) is using our SVG workflow. @samikeijonen is an a11y expert in his own right, and improved on the workflow. I'd like to bring these improvements back into wd_s.

See it here:
https://github.com/WordPress/twentyseventeen/pull/253

[2016-10-21 14:05] gregrickaby opened #208 "Update readme to include new animated gif and add `bower install` command"
For whatever reason, the animated .gif used to show the install process is børked. Also, need to add `bower install` since we've offloaded normalize and animate.css to Bower.

[2016-10-21 14:07] samikeijonen commented on #207
I have additional thoughts in here:
https://github.com/WordPress/twentyseventeen/issues/394

The last example is what `a11y` team thinks is the best approach for title/desc. But it's not needed in Twenty17 because all icons are decorative and always have `aria-hidden="true"`.

[2016-10-21 14:13] samikeijonen commented on #207
And we probably don't even need [argument for setting aria-hidden="true"](https://github.com/WordPress/twentyseventeen/blob/master/inc/icon-functions.php#L52).

It could be default and set it to null when title and desc are set. Something like this.

[code]

[2016-10-21 14:15] samikeijonen commented on #207
References:

https://www.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/

https://css-tricks.com/accessible-svgs/

[2016-10-21 14:22] #206 closed, assigned to gregrickaby

[2016-10-21 14:42] #208 closed, assigned to gregrickaby

[2016-10-21 15:29] #205 closed, assigned to gregrickaby

[2016-10-21 16:35] #207 closed, assigned to gregrickaby

[2016-11-02 14:37] colorful-tones commented on #136
Actively looking for an active maintainer for this Pattern Library. It seems there was little internal or external interest in this feature. If there is no interest I'll probably close this out, and delete the associated branch.

[2016-11-04 12:57] gregrickaby opened #213 "Add equal height cards to wd_s"
This is on every project. Let's just bake it in.

[2016-11-04 12:58] gregrickaby opened #214 "Run through PHPCS and fix"
PHPCS (WordPress) has found quite a few issues with our PHP in `template-tags.php`. Let's fix it up!

[2016-11-04 13:01] gregrickaby opened #215 "Add pattern library"
Currently discussing internally adding a simple pattern library to help during builds.

So far, we have been creating a regular ol page in WordPress, and then assigning it the `template-patterns.php` page template.

`template-patterns.php` houses a lot of hard-coded markup. We're looking to optimize and standardize this process.

[2016-11-04 13:07] gregrickaby opened #216 "Run through Sass Linter and fix"
@colorful-tones was able to tone down the Sass linter and really dial it in to meet WDS standards. Please run the Sass through the linter and fix any issues.

[2016-11-04 13:32] colorful-tones commented on #136
Closing and deleting branch. Team has a different approach in mind.

[2016-11-04 13:32] #136 closed, assigned to colorful-tones

[2016-11-04 13:34] #199 closed, assigned to colorful-tones

[2016-11-04 14:06] gregrickaby commented on #213
Use the HTML markup from http://refills.bourbon.io/ cards and HTML5 it!

[2016-11-04 14:06] JayWood commented on #214
Might want to look over `wd_s/inc/customizer.php` as well, looks like we're using spaces instead of tabs in some locations. @ImBigWill

[2016-11-04 18:15] jomurgel commented on #214
#218 Addressed several lint issues within the template-tags.php file.

[2016-11-04 18:24] coreymcollins commented on #214
#219 PHPCS Cleanup of Theme (minus template-tags.php)

[2016-11-04 18:33] xBLADEx commented on #216
**Branch**
https://github.com/WebDevStudios/wd_s/tree/qa/scss-linting
**Files**
https://github.com/WebDevStudios/wd_s/compare/qa/scss-linting

[2016-11-04 22:08] allisonplus commented on #213
_Branch:_ https://github.com/WebDevStudios/wd_s/tree/feature/cards-equal-height

Created template tag  `_s_get_card_` that gets called within `_s_get_card_loop` (within extras.php).
Basic stylings living within `/modules/_card.scss`

(Co-created with Jo and Carrie.) Would be interested to hear any thoughts about naming, organization, etc. Heads up that this is using the template-tags file BEFORE t

[2016-11-05 13:26] gregrickaby commented on #214
Merged.

[2016-11-05 13:26] #214 closed, assigned to coreymcollins, jomurgel, ImBigWill

[2016-11-05 13:34] #216 closed, assigned to gregrickaby

[2016-11-07 21:21] colorful-tones opened #220 "Stop targeting elements out-of-box, and target via module classes instead"
`sass/base/_elements.scss`Partial as it exists in wd_s: https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/base/_elements.scss

I believe it best to not target things like `<ul>`, `<ol>` out of the box as the specificity is too low, and should be compartmentalized to something like:
[code]

I believe this whole partial is something residual from _s, and not all that great to inherit, an

[2016-11-07 21:24] colorful-tones commented on #220
This actually relates heavily to the [`sass/base/_media.scss`](https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/base/_media.scss) partial as well.

[2016-11-07 21:27] colorful-tones commented on #220
AND [`sass/base/_typography.scss`](https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/base/_typography.scss) too! haha. Actually, probably more so in this partial than other three.

[2016-11-07 21:33] colorful-tones commented on #220
With this change I would imagine and suggest we streamline most of the stuff in to a new `sass/modules/_entry-content.scss` probably.

[2016-11-07 21:39] colorful-tones commented on #220
Also, part of the reasoning this issue was created and kept coming up for me was I've found myself writing the following same CSS on last 6 projects:

[code]

While I can't say with 100% certainty that I would not have to write that CSS anymore I would have a nice partial to put it in along with all the other stuff :-D

[2016-11-09 21:08] colorful-tones commented on #213
One suggestion I have is changing the naming convention to "cards" since that is what this feature is: cards. So `_s_get_card_loop` would be `_s_get_cards_loop` and Sass partial `_card.scss` would be `_cards.scss` and any other places that are pertinent.

If I were to hop in to a project and hadn't known anything about this and needed to apply styling to the cards. When perusing the Sass folders f

[2016-11-10 15:27] gregrickaby opened #221 "Convert linting and ruleset files to the same format"
Some are `JSON`, others are `YML`, and one is an `XML`. Let's find a file format that is shared between `eslint`, `phpcs`, `sass-lint`, etc... and use it.

If I had to guess, it's probably going to be a `JSON`.

[2016-11-10 15:28] gregrickaby commented on #220
AFAIK, all of this came from Automattic's _s. I see no reason to continue to target HTML elements, so if the group is OK, we can probably tackle this next #5ftf

[2016-11-10 17:05] gregrickaby opened #222 "Reorganize template-tags.php"
There are three helper functions that could be moved to `extras.php`, such as:

`_s_categorized_blog()`
`_s_category_transient_flusher()`
`_s_get_attachment_id_from_url()`

[2016-11-11 04:19] gregrickaby commented on #221
Currently, `sass-lint` requires a `.yml` file extension...however there is an issue to include `JSON` formats in the future.

https://github.com/sasstools/sass-lint/issues/573

Also, `PHPCS` only supports `.xml`. I did rename to just `phpcs.xml` so it'll be less in your face.

[2016-11-11 04:20] #221 closed, assigned to nobody

[2016-11-11 17:51] binarygary commented on #177
👍

This is a thing I was thinking about to some extent but not quite so deeply.

The plugin gen (yeoman) and the wdunderscores.com are both pretty strongly colored by the anticipated user.
Even a simple wrapper of some sort that handled both generators would be a very cool first step.

A true "Project Generator" that takes into account things like ACF/CMB2, plugin load priority (see https://github

[2016-11-15 21:43] gregrickaby opened #223 "Remove Edge/Chrome flag from <head>"
Per @xBLADEx, this isn't needed anymore since WDS doesn't support IE10/9/8.

[2016-11-26 23:11] KostasNi opened #224 "The Customizer preview does not reload changes asynchronously"
In customizer.php, customizer.js is enqueued to enable asynchronous reloads of the customizer when things such as the Title and site description change.

However customizer.js doesn't load because the url in the enqueue is incorrect. It should be /assets/**scripts**/customizer.js instead of /assets/**js**/customizer.js

See commit 590bbed, where the scripts folder was renamed.

[2016-11-27 02:59] gregrickaby commented on #224
Merged PR here: https://github.com/WebDevStudios/wd_s/commit/8186aa6ca1433b189531a8b97a73ca4c0afc5c4e

[2016-11-27 02:59] #224 closed, assigned to nobody

[2016-12-02 14:52] xBLADEx commented on #223
Remove meta tag.
Updated closing comment name to match class.
https://github.com/WebDevStudios/wd_s/commit/b2b8b874e9d7151ee817ca0936eda97bf26321ad

[2016-12-02 15:05] allisonplus commented on #222
_Branch:_ https://github.com/WebDevStudios/wd_s/tree/theme/template-to-extras

Moved the following from `template-tags.php` to `extras.php`:
- `_s_categorized_blog()`
- `_s_category_transient_flusher()`
- `_s_get_attachment_id_from_url()`

[2016-12-02 15:09] #223 closed, assigned to gregrickaby

[2016-12-02 15:10] #222 closed, assigned to gregrickaby

[2016-12-02 15:31] Cheffheid opened #226 "[a11y] Empty link text in custom header example."
As per https://github.com/Automattic/_s/issues/1041. In the custom-header.php file there is some example markup that will lead to a link with poor link text (ie. none at all).

Since we're already providing our own header function with `_s_admin_header_image` I'm not sure if it's a huge deal, but we should probably not be promoting inaccessible code through examples all the same. :)

[2016-12-02 15:39] Cheffheid commented on #226
Removed the anchor tag from the example in branch https://github.com/WebDevStudios/wd_s/tree/hotfix/custom-header-example.

Commit: https://github.com/WebDevStudios/wd_s/commit/176315a0ffdd25edb3bca363dd18f724f8843c0c

[2016-12-02 17:28] Cheffheid opened #227 "[a11y] Modal focus management"
When using a button to toggle the modal with the included modal.js script the focus is never shifted to the modal itself. This means that tabbing will simply continue from where the button was.

Here's a video to illustrate the issue:  https://www.youtube.com/watch?v=fzXYWa_1Cf4

At the very least the keyboard focus needs to also be moved to the modal after the modal is toggled. As an additional n

[2016-12-02 17:47] samikeijonen commented on #227
Everything @Cheffheid said.

Here is good example of [accessible modal dialog](http://edenspiekermann.github.io/a11y-dialog/).

[2016-12-02 20:47] Cheffheid commented on #227
Thanks for that, @samikeijonen, very useful. :)

I've started a branch hotfix/modal-focus-fix for this, where I've pushed a number of changes to start fixing this.

The state of that branch is like this now:
https://youtu.be/QOcjDux9w3M

The theme itself doesn't include any markup for the modals themselves, so I'm not sure if it's worthwhile to do things like toggling the aria-hidden attribute (an

[2016-12-02 22:48] #226 closed, assigned to gregrickaby

[2016-12-07 15:23] xBLADEx opened #229 "Responsive Breakpoints"
Lets revisit breakpoints and see if there are better widths to use.
This article has some good points, but doesn't mean we should use those exactly.
https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.ikxje0vkl

I will continue to research latest breakpoints and update here.

[2016-12-07 15:44] gregrickaby commented on #229
Agreed that we might want to refresh. Our Project Plan doesn't get specific, and just says we will center/stack for Mobile and Tablet.

Let's start with finding out what those resolutions are.

[2016-12-15 14:43] Cheffheid opened #230 ".eslintrc doesn't fully match WP Code standards"
The WordPress config that's extended will, eventually, add missing rulesets as per their roadmap (See here: https://github.com/ntwb/eslint-config-wordpress/issues/8).

In the mean time, it'll be worth while to add the rules slated for V2.0.0 manually, since those will also look at coding style errors like spaces inside of parenthesis, mixed spaces/tabs, etc.

[2016-12-15 14:57] gregrickaby commented on #230
While we're at it, `.eslintrc` has been deprecated. Let's rename to either `.eslintrc.js` or `.eslintrc.yml`.

http://eslint.org/docs/user-guide/configuring#configuration-file-formats

[2016-12-17 02:06] #230 closed, assigned to nobody

[2017-01-25 12:09] devctor opened #235 "Build production task"
Hola amigos! great work!

There is a build task for production? i know some of the tasks generates minified assets for example, sorry if i missing something.

Thank You.

[2017-02-10 02:46] carrieforde commented on #213
Having worked a lot more with cards and all that jazz, I'd love to see this broken out a bit further so it's more extensible:
1. Generalize the get_cards (I don't * think * we need loop in the name) function so that allows us to pass in an array of arguments, which might include `post_type`, `posts_per_page`, `category_name`, etc., as well as a `template_part` (which basically specifies which temp

[2017-02-10 14:49] gregrickaby opened #236 "Add ACF/Queries/Hooks Files to Inc"
Please create the following files in `/inc`:

- `acf.php`
- `hooks.php`
- `queries.php`

Remember to include these via `functions.php`

[2017-02-10 14:59] gregrickaby opened #237 "Add acf-json directory"
Now that we're using ACF Pro on more and more projects, let's get the JSON sync folder added.

Add `acf-json` tothe theme's root directory

https://www.advancedcustomfields.com/resources/synchronized-json/

[2017-02-10 15:05] gregrickaby opened #238 "Bring customizer enhancements from client projects into wd_s"
After The Comeback and WDS8 - we made significant enhancements on how wd_s works with the customizer. I'd like to bring those into wd_s.

[2017-02-10 15:08] gregrickaby commented on #235
@Acrata Just type `gulp`... this will re-compile (and minify) everything.

There isn't a specific `gulp build` command. See the full list of `gulp` tasks here: https://github.com/WebDevStudios/wd_s#gulp-tasks

[2017-02-10 15:08] #235 closed, assigned to nobody

[2017-02-10 15:59] #236 closed, assigned to gregrickaby

[2017-02-10 19:04] allisonplus commented on #237
Branch: [theme/acf-json](https://github.com/WebDevStudios/wd_s/tree/theme/acf-json)

Added acf-json folder (with index.php within it as per Security instructions [here](https://www.advancedcustomfields.com/resources/local-json/))

[2017-02-10 20:47] #227 closed, assigned to Cheffheid

[2017-02-10 20:48] #237 closed, assigned to gregrickaby

[2017-02-10 20:49] #238 closed, assigned to gregrickaby

[2017-02-14 22:34] gregrickaby opened #243 "Bourbon v5.0 is coming..."
...and with it, a few of our most beloved mixins (and roughly 60% of Bourbon itself) are going away.  ☹️  (See http://bourbon.io/docs/)

The list:

- `rem()` - Our primary way of settings numeric values
- `em()` - The entire grid system is based on this...
- `size()` - Our primary way of setting height/widths
- `transition()` - I found this in _mobile-navigation.scss (we should be using Auto Prefi

[2017-02-21 16:18] gregrickaby opened #244 "Neat v2.0 is here..."
... and with it comes breaking changes with brand new mixins and a different way of dealing with grids. Let's discuss which direction we want to take (keep using Neat? Something else perhaps?)

http://neat.bourbon.io/

[2017-02-21 16:20] gregrickaby commented on #215
Update: I've created repo for extending our CodePen components and patterns:
https://github.com/WebDevStudios/WDS-Components-Library

@carrieforde Is heading up that project. The idea is to create a place where we can store ready-to-use components and patterns that will work with wd_s.

[2017-02-21 16:26] gregrickaby commented on #243
As a group we are disappointed that such a huge chunk of Bourbon is being dropped, but we understand that most of those mixins are now taken care of with the PostCSS plugin AutoPrefixer.

Here are the talking points discussed this topic on the Front-End Developer scrum:

- Fork `rem()` and `em()` for legacy purposes
- Use pixels `px` as our primary unit of measurement going forward
- Use ems for l

[2017-02-23 22:15] carrieforde commented on #213
I'd love to see this as a PR to the [WDS Components Library](https://github.com/WebDevStudios/WDS-Components-Library). Perhaps we could extend it to be a more general "cards" component with different layouts and styles? 😄

[2017-03-07 21:12] gregrickaby opened #245 "Remove Custom Header support and replace with Custom Logo"
I can't tell you the last time we needed to use the custom header...I can tell you, that on almost every project,we use the custom logo instead.

https://codex.wordpress.org/Theme_Logo

[2017-03-07 21:16] gregrickaby opened #246 "Include basic ACF Flexible Content support"
After the last couple projects (most recently WDS8), we've used flexible content to create "content blocks". It would great if we didn't have to set this up every time. Merge in:

- Template Tag to display flexible content blocks `wds_client_do_content_block();`
- Add the folder to house block markup `template-parts/content-blocks`
- Add `block-hero.php`
- Add `block-generic_content.php`

[2017-03-10 14:03] gregrickaby opened #247 "Add SVG mime support"
This needs to go into `hooks.php`

[code]

[2017-03-10 14:15] gregrickaby commented on #244
@carrieforde @jomurgel I'm on #5ftf today, and would love to start getting your mixins and updates around Neat 2.0 into wd_s...

[2017-03-10 14:21] jomurgel commented on #244
@gregrickaby feel free to modify or update these however you see fit 👍  https://gist.github.com/jomurgel/25a9f993c342491a269da60612ef2018

[2017-03-10 14:27] gregrickaby commented on #243
This ticket will now be tracked here: https://github.com/WebDevStudios/wd_s/issues/248

[2017-03-10 14:29] gregrickaby opened #248 "Update units and measurements"
Based on internal discussions and these related tickets: https://github.com/WebDevStudios/wd_s/issues/243,  https://github.com/WebDevStudios/wd_s/issues/244 respectively...

Our plan is to bring in some new mixins, courtesy of @jomurgel, for legacy purposes https://github.com/WebDevStudios/wd_s/issues/244#issuecomment-285680547, and adopt a new standard for units:

- px - border, shadow
- em - fon

[2017-03-10 14:30] #243 closed, assigned to gregrickaby

[2017-03-10 14:33] gregrickaby opened #249 "Convert grid system from Neat v1 to Neat v2"
We've decided internally (https://github.com/WebDevStudios/wd_s/issues/244) to stick with Neat and convert our grid system to the new v2.0 architecture.

Please go through and update sass partials.

[2017-03-10 14:33] #244 closed, assigned to gregrickaby

[2017-03-10 14:42] gregrickaby commented on #213
I think it's safe to say, this needs to be simplified. The initial goal was to have equal height card styles, be a "solved problem" out of the box. I recommend we just start by adding equal height sass.

[2017-03-10 14:43] gregrickaby commented on #229
@xBLADEx Can you provide an updated list of breakpoints?

[2017-03-10 14:53] gregrickaby commented on #177
After spending a considerable amount of time with Docker on a client project, I wanted to leave a note about my experience. IMHO, a project generator would require us to maintain two versions of wd_s. A "generator version" and then one like this repo (downloadable and ready to use).

Instead, we could just start a _WDS Project_ container. This Docker container would use Composer and NPM/Yarn to ma

[2017-03-10 15:04] gregrickaby opened #250 "Bring Back The Hamburger Nav"
Yes. I said it.

Since we merged in https://github.com/WebDevStudios/wd_s/pull/150 last February, only _two_ of the thirteen (2-13) projects (I've been on) have used the Tap Bar. One of them was _WDS8_, and the other? Well, the client just asked us to swap it out for the Hamburger nav. :(

It's ultimately the client's choice - and _clients are choosing two buns with some meat_.

I propose we bring

[2017-03-10 15:15] gregrickaby opened #251 "Clean up Output Buffers and use the new `display` nomenclature"
Calling @kellenmace! Would love your assistance (well, anyone's assistance would be great) in going through our template tags and such, and getting this up to spec with this:
 http://make.wdslab.com/2017/03/09/output-buffers-make-doc-updated/

[2017-03-10 15:22] bezierer commented on #250
Dropping a note that @jomurgel did a similar animation for https://www.thesportsgeek.com/ which turned out really nice. I'm in favor of this change and we can always add the tap bar in on a project-basis if it's warranted, too.

[2017-03-10 15:42] carrieforde commented on #250
Maybe we can drop the ol' tapbar navigation into [WDS Components](https://github.com/WebDevStudios/WDS-Components-Library) so we have it to hand when we need it?

[2017-03-10 15:47] carrieforde commented on #213
I'd personally prefer to see fewer things "baked-in" that need to be removed, and instead have these WordPress-ready styles available as drop-ins via the WDS Components Library.

Near the end of a project, it's not always easy to remember, "did we actually use this?" making it increasingly difficult to remove unused code--I'd say adding code is easier than removing it. Just my 2 cents. 😄

[2017-03-10 16:00] gregrickaby commented on #213
I agree @carrieforde. As things are added to https://github.com/WebDevStudios/WDS-Components-Library they could be removed from wd_s.

[2017-03-10 17:21] #246 closed, assigned to gregrickaby

[2017-03-10 17:23] #247 closed, assigned to nobody

[2017-03-10 17:40] #245 closed, assigned to nobody

[2017-03-11 04:05] gregrickaby opened #252 "Add Travis CI Integration"
On each push and PR, Travis needs to run phpcs, eslint, and sass lint!

Configure .travis.yml to do just that.

[2017-03-11 04:06] gregrickaby commented on #252
This is complete! https://github.com/WebDevStudios/wd_s/commit/7aea8a8fec3e81cb4e2db4fd447eeb34c5eb6056

Passing results:
https://travis-ci.org/WebDevStudios/wd_s

File:
https://github.com/WebDevStudios/wd_s/blob/master/.travis.yml

Results will notify the FED Slack channel.

[2017-03-11 04:06] #252 closed, assigned to nobody

[2017-03-15 14:14] gregrickaby commented on #250
This morning our fireteam discussed doing a push drawer similar to this: https://tympanus.net/Development/SidebarTransitions/  (click "Push")

We'd keep the registered mobile menu, hook it into the footer, and just show the drawer on mobile when a user taps the 'ol hamburger nav.

This seems to be what clients want these days. Thoughts?

[2017-03-24 14:37] carrieforde commented on #249
_If_ my upcoming Pattern Library PR gets merged, this will be address in that PR.

[2017-03-24 14:50] carrieforde commented on #215
I believe we should still be using a pattern library within wd_s regardless of the existence of the WDS Components Library. A pattern library and component library serve different purposes, and ideally, they work in tandem.

The Component Library is (will be) simply a collection of ready-to-use UI components that will have basic styling and functionality that serves as a jumping off point.

The Pa

[2017-03-24 16:58] carrieforde opened #256 "Lint to match updated WordPress Coding Standards"
The WordPress Coding Standards have been (recently updated)[https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/blob/develop/CHANGELOG.md], and we need to make updates to wd_s to ensure that our theme passes all our nifty Travis CI build checks.

This update includes making sure phpcs.xml is up-to-date, and reviewing PHP files throughout the theme to ensure they meet the new s

[2017-03-27 17:55] carrieforde opened #258 "Update .sass-lint.yml"
Internally, we settled on using single quotes in our Sass, but the `.sass-lint.yml` file still cries for double quotes by default. We should update this so we don't have to update it each time we set up a new theme.

We will also need to update our property units to use our new internal standards for length measurements (when to use px, rem, and em).

[2017-03-28 13:44] #256 closed, assigned to nobody

[2017-04-14 14:23] gregrickaby commented on #229
@BLADEx 🏓

[2017-04-14 14:26] gregrickaby commented on #250
I'm officially calling the ol tapbar dead 💀 . It was included in WDS8, and then it was squashed by Brad in favor of the off canvas drawer + 🍔 . So that brings the tally down to 0-13.

I'm going to work on getting an off canvas drawer with hamburger style nav brought back.

[2017-04-14 20:08] allisonplus commented on #258
Branch: [qa/lint-file](https://github.com/WebDevStudios/wd_s/tree/qa/lint-file)

Adjusted `.sass-lint.yml` file to require single quotes rather than double. Updated partials to use single quotes in pseudo-elements, strings, etc.

Updated property units in `.sass-lint.yml` file as well. Adjusted partials to use `em`s for font-size and `px` for both box-shadow and border.

[2017-04-14 20:22] allisonplus commented on #248
Branch: [qa/lint-file](https://github.com/WebDevStudios/wd_s/tree/qa/lint-file)

Mixins from Jo are included currently.
[.sass-lint.yml](https://github.com/WebDevStudios/wd_s/blob/master/.sass-lint.yml) file has been updated (Issue #258)

The one part I wasn't sure how we wanted to transition through was if anything should be adjusted in re: the last bullet point above (% - columns, layout, grid).

[2017-04-21 12:47] kellenmace commented on #251
Yo @gregrickaby - I had a chance to make these changes in this pull request, plus a few lil' changes to the template tags functions that display/get the URL of the featured/attached/placeholder image for the current post. Can you please take a look when you have a chance? Thanks. https://github.com/WebDevStudios/wd_s/pull/262

[2017-05-10 13:19] gregrickaby opened #264 "Update `_comments.scss`"
On a recent client build (which featured very basic comments), we spent a considerable amount of time refactoring `_comments.scss`. I'd like to bring these changes in as the new baseline.

[2017-05-10 14:27] #251 closed, assigned to nobody

[2017-05-10 14:39] #250 closed, assigned to gregrickaby

[2017-05-10 14:41] gregrickaby commented on #258
@allisonplus Sweet!!! Thanks for your help on this. Can you merge in master (there will be conflicts) and then re-submit this as a PR, please?

 😄

[2017-05-10 14:43] gregrickaby commented on #229
@xBLADEx 🏓  ... last call

[2017-05-10 14:44] #177 closed, assigned to gregrickaby, jomurgel

[2017-05-10 14:45] gregrickaby commented on #213
Funny how our projects ebb and flow...we haven't seen an equal height card, since this issue was opened.

Everyone OK with just closing this?

[2017-05-10 14:50] gregrickaby commented on #248
@allisonplus Can you merge in master, (there will be conflicts), and re-submit as a PR, please? Thank you!

[2017-05-10 16:00] #258 closed, assigned to allisonplus

[2017-05-10 16:03] gregrickaby commented on #248
Merged in #265

[2017-05-10 16:03] #248 closed, assigned to allisonplus

[2017-05-10 18:30] #264 closed, assigned to gregrickaby

[2017-05-12 19:31] #215 closed, assigned to carrieforde

[2017-05-12 19:31] gregrickaby commented on #249
Neat v2.0 was merged in #255

[2017-05-12 19:31] #249 closed, assigned to nobody

[2017-05-19 14:25] xBLADEx commented on #229
@gregrickaby Sorry for the delay. I have been using these breakpoints in other projects and found them to work nicely:
[code]

[2017-05-19 21:12] carrieforde opened #268 "Review & update utilities"
With the transition to Bourbon 5.0 and Neat 2.0.0, I think it may be a good idea to revisit our variables and mixins to ensure we have the mixins we need to keep development efficient.

I'd also like to propose a few new mixins:
- One I'd love to see is a mixin that we can use to efficiently create grid classes (as we've been discussing)
- Maybe another for quickly creating color classes
- Helpers

[2017-05-19 22:38] carrieforde commented on #268
I spent about an hour and a half working through the above on https://github.com/WebDevStudios/wd_s/tree/feature/utilities-updates.

I've moved the units of measure to a newly created functions folder, and imported the index file within the directory before importing our variables and mixins. This allows us to use these new units correctly with the media queries.

I've also added a few new mixins,

[2017-05-22 23:28] carrieforde commented on #229
To chime in, since Rich proposed these ages ago, I've been using them in personal projects, and have been finding them to work for 95 percent of my use cases. I'd definitely feel comfortable considering the switch to these breakpoints, especially since I believe they better align with the _add a breakpoint when things look like garbage_ approach. 😄

[2017-05-26 15:13] gregrickaby opened #269 "Create mixin to create grid classes"
So we can use _simple_ presentational markup like,` .col-1`, `.col-2`, etc...

See this example for a look at the `.col-1` in use: https://codepen.io/webdevstudios/full/zwywyV

[2017-05-26 15:15] gregrickaby opened #270 "Create color class mixin"

[2017-05-26 15:15] gregrickaby opened #271 "Create media query helper mixin"
Neat 2.0 requires that type out the entire CSS3 media query string. Create a mixin which will allow us to do things via shorthand.

[2017-05-26 15:19] gregrickaby opened #272 "Use PX on all grid items"
I know this goes against our WDS standard, but given the issues we ran into on IH, I feel like if pixels good enough for Bootstrap (and %'s for Foundation), than we should stick with a unit that doesn't compound.

[2017-05-26 15:20] gregrickaby commented on #229
Great. I'm rolling this into our Utilities Clean Up milestone.

[2017-05-26 15:23] gregrickaby opened #273 "Reorganize and refactor Navigation"
As discussed internally, we're going to break navigation components (mobile, desktop, etc...) out into separate partials.

[2017-05-26 16:13] gregrickaby opened #274 "Level up our modals"
Calling @efuller! Making this an official task for you 😄 !

Please bring your awesome modal work into wd_s

[2017-05-26 17:29] gregrickaby opened #275 "Use more semantic containers"
Currently, we use `.wrap` to create a container. Then, devs can create "whatever they want" to create rows and columns.

Why not take a cue from Bootstrap and do: "container --> row --> column"

[code]

Related ticket: #269

[2017-06-02 19:49] gregrickaby opened #276 "a11y checkup"
WDS is committed to building accessible websites. Continually run the theme through both Total Validator app and the WAVE extension for Chrome.

- [ ] Section 508
- [ ] WCAG 2.0AA
- [ ] HTML Validation
- [ ] CSS Validation

[2017-06-02 19:50] gregrickaby commented on #268
Because this sparked a larger discussion, which started a [Milestone](https://github.com/WebDevStudios/wd_s/milestone/1), which contains a bunch of new tasks related to this discussion, I'm inclined to close this ticket.

Thoughts @carrieforde ?

[2017-06-02 19:51] carrieforde commented on #268
Yup, I'm cool with that. Thanks for adding a milestone for this. 👍

[2017-06-02 19:51] #268 closed, assigned to gregrickaby, carrieforde

[2017-06-02 19:55] gregrickaby opened #277 "Header discussion"
Once again, the direction of wd_s is dictated by clients and their PSDs.

The last six projects we've been on, have featured a header that looks similar to this:

LOGO - NAV - BUTTON and/or PHONE NUMBER

![screenshot 2017-06-02 14 53 29](https://cloud.githubusercontent.com/assets/200280/26742442/4a60976c-47a3-11e7-95f6-7652ce39df03.png)

Can we just go ahead and bake this type of layout in? Also..

[2017-06-05 19:06] Cheffheid commented on #276
I've pushed a handful of fixes for T.V. and will continue to work on the same branch for things I'm finding.

The branch is hotfix/a11y.

What I've fixed/changed on that branch so far:

- Removed `role="main"` from the main elements (T.V. pleaser, it flags `<nav role="navigation">` and `<aside role="complementary">` as warnings, but they're essentially the same thing...)
- Set widget title heading

[2017-06-07 11:08] allisonplus commented on #269
I created a CodePen that might be able to be used as a jumping off point conceptually or with some add-ons: https://codepen.io/allisonplus/pen/bRdgqK

Still getting the hang of Neat 2.0 so I'm sure some tidying + fine-tuning can still occur.

[2017-06-08 20:29] Cheffheid commented on #276
Added some additional fixes on that branch that automatic testing won't necessarily pick up. They are related to the submenus and colour contrast.

The submenus weren't displaying on focus, and now they are. While I was at it, I've also added the caret down icon to the menu links that have a submenu. I did notice that the submenus have no background set (not sure if that's intentional or not) and

[2017-06-09 15:38] gregrickaby opened #279 "Switch to Foundation"
I'm thrilled to announce that WDS is going drop Bourbon/Neat and marry wd_s with [Foundation](http://foundation.zurb.com/sites) by Zurb. 😮

# Why
It's simple: _let the Foundation community worry about maintaining components and its documentation, so WDS can focus on building premium websites for our clients_.

**To be clear**: we are not abandoning our CodePens, our commitment (and quite frankly p

[2017-06-09 21:10] #277 closed, assigned to nobody

[2017-06-09 21:13] gregrickaby opened #280 "Update Grid Markup"
Please swap out `.wrap` with `.row` as well as adding `.column` to match Foundation Flex Grid: http://foundation.zurb.com/sites/docs/flex-grid.html#basics

- [ ] Change `.wrap` to`.row`
- [ ] Add `.column` where necessary

Example layout: https://webdevstudios.com/

Branch: https://github.com/WebDevStudios/wd_s/tree/foundation

[2017-06-09 21:17] gregrickaby opened #281 "Update Mobile Nav"
Currently we used our own off-canvas container triggered by a hamburger for the mobile nav. Please swap this out for both:

- [x] http://foundation.zurb.com/sites/docs/responsive-navigation.html#responsive-toggle
- [x] http://foundation.zurb.com/sites/docs/off-canvas.html
- [x] Remove `/concat/off-canvas.js`
- [x] Remove `/concat/mobile-menu.js`

Example: https://webdevstudios.com/

Branch: https:

[2017-06-09 21:18] gregrickaby opened #282 "Remove Custom Modal"
We don't need to our own modal anymore. We can use Foundation's [Reveal](http://foundation.zurb.com/sites/docs/reveal.html) instead.

- [ ] Remove `/concat/modal.js`

Branch: https://github.com/WebDevStudios/wd_s/tree/foundation

[2017-06-09 21:24] gregrickaby opened #283 "Create Three Column Header"
This basically the standard/norm right now. It's tiresome to have to create this on every project.

It should support:

- [ ] Logo
- [ ] Menu (desktop) / Hamburger (mobile)
- [ ] Button / Phone Number / Etc...

Example header: https://webdevstudios.com/

Branch: https://github.com/WebDevStudios/wd_s/tree/foundation

[2017-06-09 21:27] gregrickaby opened #284 "Create Full-Width Body"
I cannot remember the last website we built which used a traditional `content/sidebar` layout (except for the Blog).

- [ ] Full-width grid for all pages/templates (except `single.php`)
- [ ] Remove sidebars (except `single.php`)

Example: https://webdevstudios.com/

Branch: https://github.com/WebDevStudios/wd_s/tree/foundation

[2017-06-09 21:31] gregrickaby opened #285 "Create Multi-Column Footer with Widget Support"
It's the same on on every project, _a multi-column footer with widgets_, which include: recent posts, mail chimp, list of pages, social links, etc...

- [x] Register multiple footer widgets in `functions.php`
- [x] Create 4 footer columns
- [x] Insert footer widgets in new columns
- [x] Retain the "site info" underneath this area

Example: https://webdevstudios.com/

Branch: https://github.com/Web

[2017-06-09 21:34] gregrickaby opened #286 "Create ACF Page Template"
When using flexible content (aka Content Blocks) it's a real pain in the ass to lock clients/users into ONLY being able to use Content Blocks. Instead, create a new page template named `page-acf.php`.

Then, when the client/user chooses it from the Page Template dropdown, the Content Blocks will appear and the editor should disappear.

Here's the code:

[code]

Branch: https://github.com/WebDevStu

[2017-06-12 14:01] gregrickaby opened #287 "Setup Gulpfile.js"
Gulpfile.js must be able to import Foundation's SCSS and JS and compile. We must be able to turn Foundation components on/off.

Ideally both CSS and JS would be bundled. CSS => `style.css` and JS => `project.js`

[2017-06-12 15:42] gregrickaby commented on #287
This has been taken care of.

[2017-06-12 15:42] #287 closed, assigned to gregrickaby

[2017-06-12 15:45] #286 closed, assigned to gregrickaby

[2017-06-12 15:50] gregrickaby opened #288 "Update Readme.md"
Need to make sure our Readme has updated information about how to use wd_s. Off the top of my head...

- [ ] Remove Bourbon/Neat mentions
- [ ] Link to Foundation and docs
- [ ] Explain setup
- [ ] Show file structure
- [ ] Explain cherry picking Foundation components in both Sass/JS
- [ ] Discuss setting the Grid width
- [ ] Discuss a11y

Branch: https://github.com/WebDevStudios/wd_s/tree/foundat

[2017-06-12 16:07] xBLADEx commented on #288
The [README.md](https://github.com/WebDevStudios/wd_s/blob/master/README.md#advanced) mentions updating and replacing __s.com_ with the _project-name.dev_
This is found in the Gulpfile.js and it is a comment.
My suggestion is to change http://_s.com:3000 to http://testing.dev:3000 and update the README.md to clarify changing the proxy testing.dev.

[2017-06-12 16:14] gregrickaby commented on #280
Fixed in #289

[2017-06-12 16:14] #280 closed, assigned to xBLADEx

[2017-06-12 16:57] gregrickaby commented on #284
Merged. #290

[2017-06-12 16:57] #284 closed, assigned to xBLADEx

[2017-06-12 17:02] gregrickaby commented on #282
Merged #291

[2017-06-12 17:02] #282 closed, assigned to xBLADEx

[2017-06-12 17:09] gregrickaby opened #292 "Baseline WordPress Styles"
This is a gray area, because anything we add will be an assumption.

I do think, however, we should provide some basic styles for things that Foundation does't cover, like:

- [x] - screen reader text
- [x] - alignments
- [x] - captions
- [x] - figures
- [x] - comments
- [x] - tables
- [x] - etc...

Many of these can be found here: https://github.com/WebDevStudios/wd_s/tree/master/assets/sass/base

[2017-06-12 17:12] gregrickaby opened #293 "SVG/Sprite/Helper Sass"
Please bring over some of Sass from the old wd_s.

Image Sprites:
https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/base/_sprites.scss

SVG Defs (they need to be hidden):
https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/base/_media.scss#L169-L172

Other Helpers:
https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/base/_media.scss#L121-L167

[2017-06-12 19:03] gregrickaby commented on #283
Merged #294

[2017-06-12 19:03] #283 closed, assigned to xBLADEx

[2017-06-12 20:02] gregrickaby commented on #285
Merged #295

[2017-06-12 20:02] #285 closed, assigned to xBLADEx

[2017-06-12 20:05] gregrickaby opened #297 "Final Accessibility and CBT review"
Please pull down the Foundation branch, and run a final audit.

- [ ] Total Validator (Section 508 & WCAG 2.0AA)
- [ ] Wave (Chrome extension)
- [ ] Use the site with a screen reader
- [ ] Use the site with keyboard navigation
- [ ] CBT against WDS standard browser list
- [ ] CBT Mobile nav too (maybe even use an actual device to check tapping)

[2017-06-12 20:43] gregrickaby commented on #281
Merged. #296

[2017-06-12 20:43] #281 closed, assigned to coreymcollins

[2017-06-13 16:44] carrieforde commented on #279
I'm totally excited to see where we go with this, but I'm also interested in seeing more of a transition plan. Anything I can help with on that front @gregrickaby ?

[2017-06-13 17:56] gregrickaby commented on #279
@carrieforde More than anything, I feel like we need: documentation and education.

Our devs need to know how to work with Foundation + wd_s. The [wiki](https://github.com/WebDevStudios/wd_s/wiki) would be great place to start!

[2017-06-20 14:29] #292 closed, assigned to gregrickaby

[2017-06-20 14:32] gregrickaby opened #301 "Fix Travis PHPCS directory error"
It looks like Automattic had the same issue... see if their fix, can help our fork.

https://github.com/Automattic/_s/blob/master/.travis.yml

[2017-06-20 19:56] #301 closed, assigned to gregrickaby

[2017-06-28 17:06] carrieforde commented on #269
I'm just catching-up / reacquainting myself with all the things in the bourbon/neat milestone, and it looks like we may already have a working solution for this on the feature/utilities-updates branch, which is pretty consistent with the exploration @allisonplus did. 😄

We now have:

[code]

which we're calling in `structure/_grids.scss` to create a basic 12-column grid (the default $neat-rid is s

[2017-06-28 17:39] carrieforde commented on #270
The initial step of this is complete, and work is done on [feature/create-color-classes-mixin](https://github.com/WebDevStudios/wd_s/tree/feature/create-color-classes-mixin).

I have added a mixin that will generate three types of color presentational classes:
1. `.color-`
2. `.background-`
3. `.fill-`

These classes can be easily added to elements during development to keep us from constantly hav

[2017-06-28 17:48] carrieforde commented on #271
Again, catching up on issues for each milestone to recenter myself and figure out where we left off. :)

I think the original problem I was trying to solve is that Neat 2.0.0's update now _only_ works with `min-width` media queries. Which for 98% of our needs at WDS is fine. But for that other 2%, we may want to either create a `max-width` query (which we used to be able to do with the `mediamax`

[2017-06-28 17:53] carrieforde commented on #145
@gregrickaby Would you still be amenable to adding Sassdocs? I think that could be a handy way to create documentation, and if we put it in a `/doc` folder within the theme, we could even spin up a little github.io doc site. 😄

I'd also be interested to see if we could use PHP Doc (maybe via a Gulp task) or something similar to create a PHP counterpart.

[2017-06-29 14:05] carrieforde commented on #275
I like this a lot, and would definitely like to bring current wd_s up to this standard. My only hesitation right now is that we've got a lot of `wrap`s, which is fine, but I'm wondering if they really suit our needs 100%.

For example, on client projects where we've used ACF with flexible content, we've been using a `container` to wrap the module which allows us to more easily use full width, usin

[2017-06-30 14:04] gregrickaby commented on #273
Just a follow up... I refactored this on a recent project and would love to demo it. Maybe bring it into wd_s!

[2017-06-30 14:14] gregrickaby commented on #275
I honestly think wd_s should be a single column, full-width website out of the box. (except on single posts)... so yes, let's reduce the number of `wraps`.

[2017-06-30 14:15] #213 closed, assigned to jomurgel

[2017-06-30 18:46] carrieforde commented on #270
Merged into `featured/utilities-updates`:

https://github.com/WebDevStudios/wd_s/pull/306

[2017-06-30 18:58] carrieforde commented on #271
This should be all set with Sassdocs:

![Media mixin Sassdoc](https://www.dropbox.com/s/0xhlq3bp0jvfkvt/Screenshot%202017-06-30%2011.55.11.png?dl=1)

[2017-06-30 19:01] carrieforde commented on #269
This should be all set with Sassdocs:

![Grid classes Sassdoc](https://www.dropbox.com/s/l6j6fkpjsls1k76/Screenshot%202017-06-30%2012.00.59.png?dl=1)

[2017-06-30 19:06] carrieforde commented on #272
I'm going to have a look into this, do some testing, and see if the kinks regarding the weirdness you experienced on IH are ironed out.

My gut says this should be fixed. We already have the `$base-context` set on the `html` on `master`, which I think was the main source of the issues you experienced. And within the [`feature/utilities-updates`](https://github.com/WebDevStudios/wd_s/tree/feature/u

[2017-07-11 16:27] jomurgel commented on #229
Implemented the above-suggested breakpoints.  Utilized the Neat 2.0 structure (min-width only) and changed the naming convention to `$tablet-up` or `$desktop-up` to imply a `min-width` media query.

New suggested conventions: `$desktop-large-up`, `$desktop-up`, `$tablet-landscape-up`, `$wp-admin-bar`, `$tablet-portrait-up`, `$phone-up`

PR: #307

[2017-07-12 15:29] gregrickaby opened #308 "Gulp Sprites Issues"
From Slack: ... so I think there may be an issue with the `sprites` task in our Gulpfile.  It seems that if `sprites.png` already exists and you run `gulp`, it deletes the file then errors out in the terminal because it can’t find `sprites.png`.  If you run it again with no image existing, it does its thing just fine.  Run it again, error.  That’s what the issue was on a recent client project with

[2017-07-12 19:38] #308 closed, assigned to gregrickaby

[2017-07-12 19:58] jomurgel opened #311 "Remove Gravity Forms From WD_s?"
Including gravity forms out of the box seems a little presumptuous as a base theme, but is more importantly problematic because of how it's forcing `!important` overrides which aren't ideal.

Propose removing `_graivty-forms.scss` styles by default, but if it's used turning "Output CSS" OFF and "Output HTML5" ON within the plugin and then taking advantage of a more simple and clean style sheet bas

[2017-07-14 14:46] #229 closed, assigned to xBLADEx

[2017-07-14 14:46] #271 closed, assigned to carrieforde

[2017-07-14 14:46] #270 closed, assigned to carrieforde

[2017-07-14 14:46] #269 closed, assigned to carrieforde

[2017-07-17 19:49] gregrickaby commented on #311
Thanks @jomurgel for thinking about this and your first pass at a refactor. I'm going to have to respectfully disagree with removing them from the theme entirely.

I can't remember the last project our team did which _didn't_ use Gravity Forms. IMHO: It's easier to remove the GF partial and move on with the build, then to have to write styles from scratch - or even go find a Gist somewhere.

Now,

[2017-07-18 15:15] carrieforde commented on #272
So, I have a very similar Bourbon / Neat grid set up in my personal starter theme, and have recently run into weirdness when using `em`. So I definitely agree that we should consider canning `em`s on grids in favor of `rem` or `px`.

I'd also like propose simplifying breakpoint variables to use just a regular ol' `px` or `rem` value. So for example, `$tablet-portrait-up: 600px` instead of

[code]

[2017-07-18 20:58] jomurgel commented on #311
@gregrickaby totally fair. I think I've only used GFs on maybe one project, so if it's more often than not, totally down with keeping it.

👍

[2017-07-19 17:10] gregrickaby opened #314 "Remove EM and revert back to REM & PX"
Based on our FED scrum yesterday, the group voted to revert back to using the `rem()` mixin to handle:

- Font size
- Margin
- Padding
- Anything else not listed below...

PX for:
- Grid
- Media queries

EM for:
- Letter spacing
- Text shadow

Why?
While EMs are great for font/block scaling... based on the sheer amount of brain power exerted by always "being aware of context", it's just not worth

[2017-07-19 17:37] gregrickaby opened #315 "Enhance our ACF Flexible Content"
I'd like to see a better implementation (out of the box) with how we used ACF Flexible Content. It takes time away from budgets to have to set this up on every build.

- Default set of "Global Content Blocks". Such as Hero + Carousel, Generic Content, and three flavors of the Fifty/Fifty.
- All blocks support Block Options...which include the ability to set: Background Media/Color, Font Color, Ani

[2017-07-19 23:58] #272 closed, assigned to gregrickaby

[2017-07-20 02:43] #275 closed, assigned to nobody

[2017-07-20 02:44] #314 closed, assigned to carrieforde

[2017-07-21 19:48] gregrickaby commented on #145
This was my primary focus for #5ftf today. I added a new wiki page on using [the Grid](https://github.com/WebDevStudios/wd_s/wiki/Grid), as well has went a little nuts with the [Sass Docs](https://github.com/WebDevStudios/wd_s/commit/fa2ce9b185ca0ee0a32ab77184e784b3033ed9bb).

[2017-08-18 18:21] #315 closed, assigned to gregrickaby, bluestormcreative

[2017-09-10 11:04] samikeijonen opened #322 "Running babel on uglify"
Thanks for hard and great work on `wd_s`! In my own projects I usually use combination of `_s` and `wd_s`. From `wd_s` I like the Gulp tasks for example.

But I usually don't load single `project.js` JS file, I just load all `*.min.js` files.

But when I now started using ES6+ in my project I noticed that `uglify` task gave me errors. The reason for this is that `gulp-uglify` is not ready for ES6+

[2017-09-17 14:10] samikeijonen opened #323 "Remove title from original svg-icons.svg file"
In `_s_display_svg ` we can provide `i18n` ready titles and desc if needed. Therefore I think we could remove `<title>`s in the original `svg-icons.svg` file. This could be done inside cheerio with `$( 'title' ).remove();`. Something like:

[code]

[2017-09-18 18:20] #322 closed, assigned to nobody

[2017-09-18 18:20] #323 closed, assigned to nobody

[2017-09-18 18:22] gregrickaby commented on #322
Thanks @samikeijonen. I merged this in!

[2017-09-18 18:22] gregrickaby commented on #323
Thanks @samikeijonen. I merged this in too!

[2017-09-18 18:53] gregrickaby commented on #279
Hi  👋 ,

Based on internal discussions, [WebDevStudios](https://webdevstudios.com) is moving forward with merging [Foundation](https://github.com/zurb/foundation-sites/) for our next version of `wd_s`...which will be named: `wd_f`. Because this will a _huge change_, development of this new starter theme will happen in a separate repository, which will remain private (for now).

For those who prefe

[2017-09-18 18:53] #279 closed, assigned to gregrickaby

[2017-09-18 18:53] #288 closed, assigned to nobody

[2017-09-18 18:53] #293 closed, assigned to nobody

[2017-09-18 18:53] #297 closed, assigned to nobody

[2017-09-19 21:33] gregrickaby opened #325 "Revert to Neat v1.9"
After some [internal research](https://codepen.io/collection/DrjkLz/) and (lots of) discussion, we're going to revert back to [Neat v1.9](http://neat.bourbon.io/docs/1.9.0/). WDS is still planning on moving to [Foundation](https://github.com/zurb/foundation-sites/), however in the interim, we don't want to use Neat v2 any further.

The experiment with Neat v2 (along with our own presentational cla

[2017-09-19 21:38] gregrickaby opened #326 "Bake in some helper classes"
Starting a ticket to dump a list of potential helper classes brought up on the FED scrum by @efuller.

cc @jomurgel

[2017-09-20 19:12] Cheffheid commented on #325
Think the fifty/fifty block should be set up with some basic columns? I saw that the recent posts block has some to make a 3 column layout, but not fifty/fifty.

[2017-09-20 19:14] gregrickaby commented on #325
@Cheffheid Yes, please.

[2017-09-22 14:14] efuller commented on #326
So here is a bit of a brain dump from different discussions over on Teamsters. Again, just conversation starters!

### Overview
Without going too crazy, Teamsters has been trying to use presentational/helper classes to help with consistency and to maximize reuse. Taking this approach promotes consistency in regards to *global* things.

Current helpers that are already baked in like the `color` cla

[2017-09-22 14:25] coreymcollins commented on #326
One thing to consider is the class names in order to keep confusion at a minimum.

For instance, if you're just adding padding to something you would write:
`padding: 10px 20px 30px 40px`

And we would all know that the top padding is 10px, right padding is 20px, bottom padding is 30px, and left padding is 40px.

Looking at the classes above, I would assume `.pad-100-0` would be the same as writin

[2017-09-22 14:30] efuller commented on #326
@coreymcollins Good points! Yes, spacing helpers would be more of a global thing. Things like section spacing, card spacing. If you want an element to not have bottom padding, you can just throw a `pad-bottom-0` on it and be done!

I think in general, helpers should *only* be for global things because yes, it can easily get out of hand.

Naming conventions are all up for discussion. I'm happy to r

[2017-09-22 14:39] gregrickaby commented on #326
I'm good with `.pad-x-x-x-x` and whatever else the Teamsters are doing. We can write some docs and put them in the wiki explaining how to use.

[2017-09-22 16:44] efuller commented on #325
@gregrickaby e4149b9168f4a469adc7f40f4c2eda714510f24e should take care of the testing for transpiling!

ES6 is being transpiled to ES5. Where we were running into issues was when trying to use some of the new Array methods such as `Array.from` in IE11.

To fix this I've added in `babel-polyfill` which should only load on IE.

Also, on the helper classes, since there is more discussion to be had ar

[2017-09-22 18:41] efuller commented on #274
Let's breath some life into this issue!

I think as a first step, I can refactor our current code into a constructor function or a class. I'm hesitant to use a class, but there really is no reason not to!

A good point of reference could be here: https://codepen.io/efuller/pen/YNaWzV

[2017-09-25 22:34] jomurgel commented on #326
I've found the background or color helpers that we've been using super helpful... though I think it requires some considerations around headings or links or things of that nature which don't, by default, assume that color without some additional work.

I do like the padding/margin helpers a lot.  Keeps things consistent.

Other helpers have been a little more per-project I think so far.  We've mad

[2017-09-27 21:32] zachary-russell commented on #145
@gregrickaby I'd love to assist in improving the documentation. I recently started using `wd_s` on a client project (used `_s` on dozens before but wanted more), there is a metric ton of things to go through for a new dev. Should I edit wiki directly or would you want to spin up a github.io site?

[2017-09-27 21:34] gregrickaby commented on #145
@zachary-russell Wow! Thank you for the kind words. I'm OK if you want to update the wiki directly. When you are finished, would you mind pinging me here (with links) so I can review? Thank you so much for choosing to help! 👍  😄

[2017-09-27 21:38] zachary-russell opened #327 "Hacktoberfest Suggestions"
'Tis the season to be hacking! I would love to contribute to `wd_s` for Hacktoberfest. Would it be possible to get some suggestions on things to work on? Basically, I want to PR things that are useful and won't be rejected (I PR'd them hook alliance into `_s` as an example).

[2017-09-28 14:45] coreymcollins commented on #326
The color stuff is already in place in `wd_s` which takes care of `.background-color-{color]`, `.color-{color}`, and `.fill-{color}` based on what is supplied in the `$theme-colors` variable.

I pushed up a commit here: https://github.com/WebDevStudios/wd_s/commit/f738722bfe425ef4ddb620a17641713f58d6430c

Which adds the padding and margin classes as well as row-width classes (using sets of integer

[2017-09-28 15:42] gregrickaby commented on #326
@coreymcollins Could you please refactor the comments in [f738722](https://github.com/WebDevStudios/wd_s/commit/f738722bfe425ef4ddb620a17641713f58d6430c), so they're compatible with [Sass Doc](http://sassdoc.com/annotations/)?

They look something like this: https://github.com/WebDevStudios/wd_s/blob/theme/revert-neat/assets/sass/utilities/mixins/_colors.scss

[2017-09-28 17:06] coreymcollins opened #328 "ACF Color Picker Customizations"
I branched off of `revert-neat` to try and keep things as concise as possible: https://github.com/WebDevStudios/wd_s/commits/theme/acf-color-picker-customizations

What I've done here is:
- Added an ACF admin JS file to specify the colors displayed in the ACF Color Picker.  I also hid the Iris picker and slider via CSS; I feel that if we're going to try and display only brand/approved colors here,

[2017-09-28 18:48] jomurgel commented on #326
We may not have the ability to document `@if`, `@for`, or `@each` loops with sass docs.  Any other `@function` or `@mixin` appears to work just fine.

The only thing I can find that references this right now is https://github.com/oddbird/sassdoc-theme-herman/issues/26, but can't find any issues in the actual sassdoc repo at this time.

Regardless it's not throwing any errors, but it is outputting

[2017-09-28 19:27] jomurgel commented on #326
@gregrickaby looks like Corey built in the margin/padding helpers and we still have the color map helpers, so I think we're in good shape with helpers for now.

I'm uncertain if we want to start applying some of these helpers without really talking through it.  Right now the global classes are being styled in one location `_layout.scss` which is more efficient than tacking on a `pad-0-15` or whate

[2017-10-02 13:53] gregrickaby opened #329 "Remove SlickJS CSS minification enqueue"
SlickJS doesn't ship with a minified version of `slick.css`, so we're enqueueing a file that doesn't exist.

https://github.com/WebDevStudios/wd_s/blob/theme/revert-neat/inc/scripts.php#L72

[2017-10-02 14:03] gregrickaby opened #331 "Re-think Travis linting ruleset criteria"
This time, Travis is [bitching about](https://travis-ci.org/WebDevStudios/wd_s/jobs/282260153) about formatting. I know WDS updated it's [linting ruleset](https://github.com/WebDevStudios/WDS-Coding-Standards/tree/release-1.1) to include WordPress Docs. However, if I run PHPCBF it re-formats a lot of our PHP and looks terrible... almost completely unreadable by human standards.

Yes - there are le

[2017-10-02 14:34] #329 closed, assigned to gregrickaby

[2017-10-02 20:41] gregrickaby commented on #331
After several more failures today, I was able to go through and eliminate all warnings.

Turns out there were a bunch of legit human errors.

tl;dr: make sure your linting rulesets are up-to-date on your local machines and linting is turned on.

[2017-10-02 20:41] #331 closed, assigned to nobody

[2017-10-02 20:58] #325 closed, assigned to gregrickaby

[2017-10-03 13:36] gregrickaby commented on #326
tl;dr the helper classes are now in `/master`. There needs to be a discussion on whether or not we want to add the helper classes throughout the theme. That is a separate issue.

Closing.

[2017-10-03 13:36] #326 closed, assigned to efuller, jomurgel

[2017-10-03 13:48] jomurgel commented on #311
Given the notes above and the need for Gravity Forms on client projects, I'm closing this task.

[2017-10-03 13:48] #311 closed, assigned to nobody

[2017-10-03 18:18] jomurgel opened #333 "Refactor `mobile-menu.js` to target submenus independently."
Currently the `mobile-menu.js` script targets the menu items at a more global level and adds the `is-visible` class which can cause some unnecessary nesting of styles.

Would like to look into potentially adding additional submenu classes or add is-visible as submenus are opened vs when the parent is opened.

[2017-10-03 18:18] jomurgel opened #334 "Keep related styles together"
There may be several places that we could or should consolidate or move styles into related groupings. A button or form item or element that is specific to one location (nav, header, etc) could be moved to the related partials to keep all elements related to a section together.

[2017-10-03 18:18] jomurgel commented on #273
Branch: https://github.com/WebDevStudios/wd_s/compare/theme/navigation-refactor

I've made several changes in this branch.

- Removed the `_mobile-navigation.scss` partial which appeared to be a carry-over from the older mobile-navigataion setup.
- Created a `navigation` folder inside modules and moved navigation partials in there.
- Consolodated navigation into global (contains .menu), main, mobi

[2017-10-03 18:27] gregrickaby commented on #273
@jomurgel This looks fantastic and is exactly what I had in mind. 🥇

Go ahead and open a PR!

[2017-10-03 18:52] #273 closed, assigned to gregrickaby, jomurgel

[2017-10-03 21:11] efuller commented on #274
Performed more discovery on this today and I also got a simple local dev environment setup which should allow for faster development.

On FED scrum, I asked for some modal requirements and here's what we got so far:

### Requirements
- [x] Multiple on the same page.
- [x] Play video again once stopped
- [x] Videos stop when you close the modal
- [ ] Accessibility
    - [x] Escape to close
    - [

[2017-10-04 11:20] Cheffheid commented on #274
I had put this in the doc already, but let me drop this here too:

Preferably “trap” focus inside of the modal (ie. only allow the modal content and close button to get focus while the modal is open) and shift focus back to the trigger when it is closed.

Here's a video to illustrate:
https://www.youtube.com/watch?v=9FH08KhZNF8

[2017-10-05 13:10] #328 closed, assigned to coreymcollins

[2017-11-25 17:46] DevonVille opened #338 "Great stuff. How do I use it?"
Hello, I came across this extension of _s and it seems great.
There are, however, a lot of things I can't quite understand -
bits and pieces not fully comprehensible.

For example:
I see ACF is a necessary plugin. Are there others?
What is the scaffolding template part used for?

Is there any extensive documentation somewhere,
or rather a forum/chat/whatnot for elaboration?

Thanks

[2017-11-27 17:30] thatryan commented on #338
I myself just got this up and running locally, attempting to learn it for use in a new project ha.
ACF is not "necessary" it appears only needed if you are using the content blocks template part.

<img width="330" alt="cloudapp annotation 2017-11-27 at 9 25 22 am png" src="https://user-images.githubusercontent.com/26583/33279851-ef9c5a4e-d354-11e7-87cf-0c42e5632273.png">

Scaffolding appears to ou

[2017-11-28 18:39] thatryan opened #339 "Single hero image not showing up"
Still trying to figure out why, when using content block template and attempting a hero block, with a single image, it will not appear in the viewport.

Block settings are,

![image](https://user-images.githubusercontent.com/26583/33337511-fd63cfc6-d427-11e7-95cc-478234cb58a2.png)

And on the front end the content appears pushed off screen to the right,

![image](https://user-images.githubusercont

[2017-11-29 16:21] DevonVille commented on #338
Thanks, I'll do just that

[2017-12-05 15:00] gregrickaby commented on #339
@thatryan Sorry you're having trouble.

When I try and re-create your issue, I'm unable to. My first though is try running `gulp` to make sure you have the latest Sass compiled in `style.css`.

![screenshot](https://dl.dropbox.com/s/fr34ldmd6wlguu5/Screenshot%202017-12-05%2008.59.14.png?dl=0)

![screenshot](https://dl.dropbox.com/s/y5no69yeymz9dvb/Screenshot%202017-12-05%2008.58.27.png?dl=0)

[2017-12-05 15:08] gregrickaby commented on #338
Hello @iwfmp!

@thatryan is correct. ACF v5 is _not_ required to use wd_s. We use it as a page builder on projects, but it's 100% optional.

We do have some (albeit limited) documentation on the [Wiki](https://github.com/WebDevStudios/wd_s/wiki) and we also blog about wd_s at [webdevstudios.com](https://webdevstudios.com/tags/wd_s/).

Unfortunately, there isn't anywhere to chat...but I think that'

[2017-12-05 15:08] #338 closed, assigned to nobody

[2017-12-05 15:13] #327 closed, assigned to nobody

[2017-12-05 15:35] gregrickaby opened #341 "Bower: It's gotta go"
Just got this warning when spinning up my local:

[code]

This would be easy if we were using Webpack and could smash all our dependencies into a bundle. So, we're going to need to figure how to include front-endy things, located in a (.gitignored) `node_modules` folder via Gulp.

The guys on Shop Talk Show even [discusss it](http://shoptalkshow.com/episodes/288-jet-lag-edition/#t=28:30) on Episod

[2017-12-05 18:05] thatryan commented on #339
So strange!

Yeah I have run gulp several times :)

Is the hero block the first/only thing on your test page? If I put a block above it it works perfectly..

The element, for me, has a 0 width. If I set width to 100% in dev-tools, it shows up. Not sure if that  gives you any ideas maybe..?

<img width="421" alt="cloudapp annotation 2017-12-05 at 10 04 48 am png" src="https://user-images.githubuser

[2017-12-06 17:22] thatryan commented on #339
Ok I tracked down the issue! No idea WHY yet... but it was my fault. I moved the navigation out of the header to just below it so that it could be full width background.

<img width="1199" alt="cloudapp annotation 2017-12-06 at 9 20 52 am png" src="https://user-images.githubusercontent.com/26583/33675247-c81ac4f6-da66-11e7-9439-d732adcc1704.png">

For some reason that breaks the hero. But only abo

[2017-12-06 17:22] #339 closed, assigned to nobody

[2017-12-15 17:09] tw2113 opened #343 "Add password protected support to ACF block workflow"
We should consider utilizing functionality like post_password_required(), and similar core functions, with our usage of ACF blocks. Wrapping the block output would enable support right away, for WDS clients and the clients of others who may also do blocks.

By default, this only works for the_excerpt() and the_content(), so it's a missing component in these specific cases.

[2017-12-19 16:20] gregrickaby commented on #343
Great find @tw2113 ... we'll make sure this gets merged in!

[2018-01-05 21:42] efuller commented on #274
Quick update here. Today I worked on researching and thinking of a good approach for trapping focus inside the modal.

I think I have a way forward and can make this work!

[2018-01-09 23:42] efuller commented on #274
Today I committed code that gets an initial setup of modal keyboard trapping in place. This will need to be testing and tweak as needed.

I also started getting getting dynamic modals put into place.

The idea behind this is that you can specify any element as a trigger and any element as the modal content and things will just work. There would be no need to have markup around the content element.

[2018-01-23 09:10] tiborp opened #344 "Subfields invisible in Other Options field group"
I wanted to add an extra field to the Other Options field group (to be able to add a CSS-id field for a section), but noticed that the sub fields of this group are not visible in the field edit screen.

They are visible in the page edit screen (and in the json file) though. I tried adding a field, but when that is saved all other (invisible) fields get removed from the json file. Am I missing some

[2018-01-26 18:15] KostasNi opened #345 "footer.scss is imported twice"
In /assets/sass/modules/index.scss footer.scss is imported twice.

[2018-01-29 15:08] #345 closed, assigned to nobody

[2018-01-29 15:25] gregrickaby commented on #341
I spent some more time looking into this...I really think the answer is: bundle.

Everything comes into `/node_modules` and then we pack it all together into the `/dist` folder via Webpack.

[2018-01-29 17:17] bluestormmax commented on #344
Hey @tiborp thanks for bringing this to our attention. Looks like there is an issue with the JSON sync feature that isn't respecting those subfields. We're looking into a solution and will update asap.

[2018-03-22 18:26] gregrickaby opened #349 "Scheduling ACF Blocks"
I use our ACF Blocks on my side-hustles, where I'm also responsible for managing content. It's a real PITA to have to change block content/images for say, an event - and then, have to go back and change it back to what it was prior (while trying to remember what the text/image used to be).

_It would be great, if we could schedule blocks to display/hide on a certain date/time._

For example:

**St

[2018-03-22 18:35] gregrickaby opened #350 "Add block title/headline to block name"
When there are more than three of four blocks in the post editor, it's not easy to figure out which block is which. We did this feature for WDS8, I think it would be super helpful it was available for everyone.

**Example:**
![screenshot](https://dl.dropbox.com/s/myjvzpuxepsnqqx/Screenshot-2018-03-22-13.31.01.png?dl=0)

[2018-03-23 14:12] #344 closed, assigned to bluestormcreative

[2018-03-23 14:35] gregrickaby opened #352 "Rename ACF Hero block to Carousel, and create a "single" ACF Hero block"
This was brought up a while back by @bluestormcreative, and I agree that we could rename the current Hero block to "Carousel" and then have a regular `ol Hero block.

[2018-03-23 14:49] gregrickaby opened #353 "Point travis.yml at WDS Code Standards"
Our repo (and local workflow) include: https://github.com/WebDevStudios/WDS-Coding-Standards which, includes the WordPress code standards.

TravisCI should using our standards vs. just the WP standards

[2018-03-23 17:19] #350 closed, assigned to jomurgel

[2018-03-23 17:38] #343 closed, assigned to gregrickaby

[2018-03-24 15:02] #353 closed, assigned to gregrickaby

[2018-03-26 14:21] gregrickaby opened #360 "Remove @since tags 👏🏻"
Per the latest release of WDS Coding Standards, we can remove the `@since` tags in wd_s.

https://github.com/WebDevStudios/WDS-Coding-Standards/releases/tag/1.1.1

[2018-03-26 18:36] #349 closed, assigned to gregrickaby

[2018-03-28 11:49] tiborp commented on #344
Glad this is fixed! Thanks!

[2018-03-31 21:48] jmichaelward opened #361 "Update composer.json so WDS Coding Standards is a dev requirement"
composer.json lists WDS Coding Standards as a dependency requirement for wd_s. This means that a distributable version of wd_s would include PHP Code Sniffer, WordPress Coding Standards, and WebDevStudios Coding Standards.

We should update the composer.json file so that this is a dev dependency only. wd_s as a theme does not have a dependency on these external libraries in order to function.

[2018-04-06 21:03] gregrickaby commented on #361
@jmichaelward Sounds good. If you could, please submit a PR and I'll go ahead and merge it in. Thanks!

[2018-04-09 15:06] gregrickaby commented on #360
There were no instances of `@since`. I did also re-ran wd_s through PHPCS with the latest WDS Coding Standards in https://github.com/WebDevStudios/wd_s/commit/7fa4fb3df357995db8dd6b1576f1d73796761b13

[2018-04-09 15:06] #360 closed, assigned to nobody

[2018-04-09 19:04] jmichaelward commented on #361
@gregrickaby I just submitted a PR with an update composer.json and composer.lock file.

[2018-04-09 20:05] #361 closed, assigned to jmichaelward

[2018-04-10 18:24] jomurgel opened #363 "Add Prettier"
Add Prettier and config

https://prettier.io

[2018-04-27 12:57] samikeijonen opened #366 "ESlint rules"
I was wondering are all the ESlint rules needed since many seems to be the same as [WordPress lint rules](https://github.com/WordPress-Coding-Standards/eslint-config-wordpress/blob/master/index.js)?

[2018-05-01 17:28] gregrickaby opened #367 "Full width Gutenberg blocks break when a sidebar is present"
When testing out https://github.com/WebDevStudios/WDS-Blocks/pull/47, I found out that any WDS Block which is full-width, breaks when a sidebar is present.

![kapture 2018-05-01 at 12 27 46](https://user-images.githubusercontent.com/200280/39484324-1568f510-4d3b-11e8-832a-13e44c62e2e8.gif)

[2018-05-01 17:37] gregrickaby commented on #366
Hey @samikeijonen thanks for the ticket.

@aubreypwd Could you maybe answer this? I know you worked extensively on our `.eslintrc.js` over at https://github.com/WebDevStudios/WDS-Coding-Standards

[2018-05-01 18:33] coreymcollins commented on #367
Turns out this one is coming from the plugin itself rather than wd_s.  I opened a PR in the WDS Blocks repo here: https://github.com/WebDevStudios/WDS-Blocks/pull/48

[2018-05-01 18:37] coreymcollins commented on #367
I wonder if this issue exists on its own in wd_s, though, with our current ACF Blocks?  Could still be something to dig into.

[2018-05-04 14:36] #367 closed, assigned to nobody

[2018-05-04 15:12] gregrickaby opened #368 "Scheduled blocks don't work on Hero"
It's because the Hero is a repeatable field, and the expired check needs to happen further down the line. Also, there's a PHP warning thrown in the WP dashboard if a block doesn't have a background set.

[2018-05-23 15:59] #368 closed, assigned to gregrickaby

[2018-05-29 23:27] zachary-russell opened #371 "Would you accept a PR for GitLab CI?"
I am an avid user of GitLab and have been working to get automated tests into my theme dev workflow. I'm in the process of getting my version of `wd_s` working with GitLab's CI - my current progress [here](https://gitlab.com/protechig/atlas-theme/blob/master/.gitlab-ci.yml).

In the open source spirit - would you accept a PR for a `.gitlab-ci.yml`?

[2018-05-30 01:47] gregrickaby commented on #371
@zachary-russell Yes!

[2018-05-30 01:53] zachary-russell commented on #371
@gregrickaby Awesome! Once I get this fully functioning i'll submit a PR (dealing with an obscene number of errors on a vanilla theme - not sure the root cause yet).

[2018-06-08 06:53] snake2401 opened #373 "Can't get Gulp working with WD_S theme"
Hi there,

I am a but of a newbie concerning gulp workflows. But i followed some install tuts and i think i have it all installer and up n running. But when i want to start the gulp watch cmd in the terminal in my working directory, i get ll kinds of errors. like:

MacBook-Pro-van-Herco:skjeugd hercoterweij$ gulp gulp-watch
gulp gulp-watch[55236]: ../src/node_contextify.cc:629:static void node::co

[2018-06-08 14:18] gregrickaby commented on #373
@snake2401

Which version of Node/NPM are you running? You can check by running this command: `node -v && npm -v`

I'm on v8.11.1 and 6.1.0 respectively, and everything seems to be working fine.

[2018-06-08 14:26] snake2401 commented on #373
Figured it out. Node 10.4 was the problem. Downgraded to 9.11.1 and it worked like a charm.

[2018-06-08 14:35] gregrickaby commented on #373
I purposely stay on whatever the LTS version (in this case, v8) is for that very reason. Glad you got it working!

[2018-06-08 14:35] #373 closed, assigned to nobody

[2018-06-12 12:14] #371 closed, assigned to nobody

[2018-08-28 16:41] mharis opened #376 "Context Based Color Variables"
I have been very familiar with context based color variables which makes it easier to read and understand code. Right now, the color variables are defined with a color name. What are your thoughts on changing it to a context-based naming scheme e.g. $primary-color, $secondary-color, $button-color, $link-color?

I have seen the context-based scheme used within the other areas of SCSS but defining t

[2018-08-28 16:50] jomurgel commented on #376
I agree with @mharis. I would argue that the industry standard would follow the more bootstrap/context-based naming conventions for colors over naming colors to match their HEX values.

It would certainly make things a tad clearer when a build has a large number of colors.

[2018-08-30 19:06] mharis opened #378 "Copyright Year Shortcode"
I can't think of any other shortcode right now but a [copyright_year] shortcode would be really useful. The shortcode will just display current year.

This would give flexibility to the clients/users to be able to add the copyright year text anywhere within the copyright content.

[2018-09-03 10:17] ghost opened #380 "Color picker swatches not working on latest ACF Pro"
Works as of ACF 5.6.10 but when upgraded to 5.7.4 the swatches do not show, but instead you get the standard color picker.

[2018-09-04 13:47] gregrickaby commented on #380
@backtofront Thanks for the note. We'll take a look!

[2018-09-04 20:48] Cheffheid commented on #376
I have no issue with this in principle. I can only come up with extreme instances where this may get a little weird and more specifically projects like Isle of MTV that has probably a dozen different background gradients.

But yeah, Isle is a bit of an extreme example, and the current colour naming scheme doesn't necessarily work in that instance either. "gradient-background-1" doesn't really desc

[2018-09-04 20:54] coreymcollins commented on #376
Decisions have been made!

For now, the plan is to:
- Retain the current way we set color variables, like `$color-blood-orange: #ff0000`
- Then, where we need a contextual variable name we'll reference the color variable, like `$button-color: $color-blood-orange`
- Finally, we'll clean up the partials and move all of our contextual color settings into `/variables/_colors.scss` and out of any other

[2018-09-04 20:55] coreymcollins commented on #376
Also, I'm sorry Isle of MTV hurt you like that @Cheffheid 😢

[2018-09-04 20:57] Cheffheid commented on #376
I got to use "razzmatazz", it's cool.

[2018-09-05 14:24] jomurgel commented on #376
Added a branch `feature/#376-color-variable-naming-structure` for handling some updates here. Will make notes as I go.

[2018-09-05 16:28] mharis opened #383 "Check for button Text and URL in Hero block"
https://github.com/WebDevStudios/wd_s/blob/0fe8c629b2131e4a7d64b6ff82aa64a6c32d9cfb/template-parts/content-blocks/block-hero.php#L65

Simple bug to fix.

[2018-09-05 19:56] #380 closed, assigned to jomurgel

[2018-09-06 21:17] mharis opened #384 "ignore .wp-block-button__link with sass-lint disable"
[code]

 .wp-block-button__link doesn't adhere to our sass coding standard. We can ignore this code block with sass lint disable.

https://stackoverflow.com/questions/32833542/having-scss-lint-ignore-a-particular-line

[2018-09-10 17:13] mharis opened #386 "PHPCS Lint Errors"
While working on my onboarding project, I discovered linting issues with wd_s and wanted to track them here. The fixes are listed here:

https://github.com/WebDevStudios/new-hire-haris-zulfiqar/commit/8583506b283015bd203919fa2f9f16dc9b11dc90

Apart from that, PHPCS throws a lint error for:

https://github.com/WebDevStudios/wd_s/blob/7bab27b394a66afe6c67af0f008562a4fe9b78c6/inc/scaffolding.php#L220

[2018-09-10 17:19] mharis opened #387 "Disable class name sass lint for default WP classes"
For e.g. .wp-block-button__link

[2018-09-18 16:51] mharis commented on #384
https://github.com/WebDevStudios/wd_s/issues/387

[2018-09-18 16:51] #384 closed, assigned to nobody

[2018-09-18 17:12] #352 closed, assigned to gregrickaby

[2018-09-18 17:17] mharis commented on #383
This issue is fixed through https://github.com/WebDevStudios/wd_s/pull/374

[2018-09-18 17:17] #383 closed, assigned to mharis

[2018-09-18 17:20] #378 closed, assigned to mharis

[2018-09-18 17:45] gregrickaby commented on #341
I know this issue is stale, so I wanted to go ahead and put a nail in it.

We're going to _try_  Webpack -- and _try_ keep the Gulp workflow the same.

[2018-09-18 17:45] #341 closed, assigned to nobody

[2018-09-18 17:57] gregrickaby opened #389 "Webpack"
Because of the time suck that was #341, I'd like to try and make the switch to Webpack.
I'm throwing this out as an example, since I've already put a ton of time into this Webpack config (modeling it after wd_s Gulp workflow): https://github.com/gregrickaby/MoaningMyrtle.

**Couple things**

- Our current Gulp workflow to be the model we work towards! Meaning, I'd like our Webpack workflow to be a

[2018-09-18 18:09] mharis opened #391 "JS Lint Errors"
![screen shot 2018-09-18 at 11 08 34 pm](https://user-images.githubusercontent.com/601054/45707246-ce46c380-bb97-11e8-9b51-ca01adc09fca.png)

[2018-09-18 23:15] mharis commented on #389
Progress over here: https://github.com/WebDevStudios/wd_s/tree/feature/389-webpack

[2018-09-19 14:38] #386 closed, assigned to mharis

[2018-09-19 14:38] #387 closed, assigned to mharis

[2018-09-19 14:39] #391 closed, assigned to mharis

[2018-09-19 20:30] mharis commented on #389
@gregrickaby

Can you give a quick look at the repo and give me an idea if I'm on the right path? https://github.com/WebDevStudios/wd_s/tree/feature/389-webpack

Basically, it's still rough and not up-to-date with our gulp structure yet but that is something that I'll able to finish tomorrow but I am looking for your feedback.

[2018-09-20 14:43] gregrickaby commented on #389
@mharis Could you open a PR? Easier to review code...

I'll take a look this morning on my local. Thank you!

[2018-09-21 15:51] coreymcollins opened #394 "Search submit button doesn't trigger search"
Right now, the search is only triggered by hitting enter. Tapping/Clicking the Submit button provides no action.

[2018-09-25 23:18] mharis commented on #389
Removed sass lint and moved all rules to stylelint.

https://github.com/WebDevStudios/wd_s/blob/feature/389-webpack/.stylelintrc

[2018-09-26 19:19] coreymcollins opened #397 "Add default OG/Meta Tags"
Generally, we just use Yoast to power our social cards, but sometimes a client doesn't use Yoast.

In that case we should have our own meta tags in place so that, out of the box, wd_s will have a good base for social sharing.

[2018-09-26 19:29] #394 closed, assigned to coreymcollins

[2018-09-27 15:36] coreymcollins opened #399 "Fix class spacing issues"
We tend to get pinged when running TVP for having spaces in our block classes and inline styles for things like animation class, text color, etc.

This is a relatively quick fix to adjust where the spaces are added in these blocks and template tags to make sure an attribute doesn't begin or end with an empty space.

[2018-09-27 18:47] coreymcollins opened #401 "Include Normalize and Animate.css instead of importing from bower_components"
Google Pagespeed Insights dings the theme for `animate.css` and `normalize.css` being render-blocking as they are loaded externally from our `bower_components` folder.

To get around this on some projects to help improve render times, we've moved those files into a new `vendor` directory in the Sass directory:
![](https://dl.dropbox.com/s/ewhp57pilq3g2rb/Screenshot%202018-09-27%2013.43.21.jpg?dl=0

[2018-09-27 18:58] gregrickaby commented on #401
I don't believe this will be an issue when #389 is finished, with that said, I don't mind this change in the interim.

[2018-10-01 17:12] #397 closed, assigned to coreymcollins

[2018-10-01 17:13] #399 closed, assigned to coreymcollins

[2018-10-01 20:47] coreymcollins opened #403 "Expired blocks keep other blocks from displaying"
When one block has an expiration date, it stops the other blocks on the page from displaying. I believe this is due to the way the conditional returns, which means only the first set of values for dates is being used forever:
[code]

Since we return after the first block is made to stop, we never get to `wp_reset_postdata()` so the values never get dumped for the next block.

I think the way aroun

[2018-10-04 20:20] coreymcollins opened #408 "Remove Inline Styles from our ACF Blocks"
A general plan of attack:
- Stop using the ACF color picker and instead use a filtered & styled select dropdown with defined colors. We already define colors and hide the color picker, so why not just go the next step and stop using the color picker all together? This would also eliminate the need for admin JS.
- This allows us to set class names for colors (`background-green`, `color-green`, etc.

[2018-10-10 15:14] mharis opened #413 "Add support for accordion (reusable element)"
Accordion and toggles are a part of almost every project.

We should add built-in support for it in wd_s.

[2018-10-11 14:52] sarthak0906 commented on #408
Is the issue still open is it closed
If the issue is still open, I'll like to take up the task

[2018-10-11 15:08] coreymcollins commented on #408
@sarthak0906 – this has already been worked on and PR'd, but thanks for checking!

[2018-10-19 13:46] #403 closed, assigned to coreymcollins

[2018-10-19 14:08] #401 closed, assigned to coreymcollins

[2018-10-19 14:10] gregrickaby commented on #408
Closing per #409

[2018-10-19 14:10] #408 closed, assigned to coreymcollins

[2018-10-19 14:12] gregrickaby commented on #363
Closing. ELint can "format on save" based on our `.eslintrc.js`, which basically does the same as Prettier (for JavaScript).

[2018-10-19 14:12] #363 closed, assigned to jomurgel

[2018-10-19 14:13] gregrickaby commented on #334
Closing since #273 and #348 have been merged in.

[2018-10-19 14:13] #334 closed, assigned to gregrickaby

[2018-10-19 14:13] gregrickaby commented on #366
@aubreypwd Just a friendly reminder ping... 🏓

[2018-10-19 14:14] gregrickaby commented on #333
Closing since #273 was merged in.

[2018-10-19 14:14] #333 closed, assigned to nobody

[2018-10-19 14:16] aubreypwd commented on #366
@samikeijonen We do (or will have) have some custom rules and _some_ that are a bit different than what WP does exactly.

[2018-10-19 19:24] mharis opened #414 "a11y dropdown menus"
Example: https://codeable.io/wordpress-accessibility-creating-accessible-dropdown-menus/

[2018-10-19 21:23] jomurgel opened #415 "Remove Google+ From Social Functions"
Since Google+ is being shut we should remove any instances of Google Plus from our social functions, icon svgs, etc.

Example: https://github.com/WebDevStudios/wd_s/blob/master/inc/template-tags.php#L364

[2018-10-22 16:26] coreymcollins commented on #413
I have some good examples of this on recent projects that I can work in here. I'll try and work on this today, but if I don't get to it I'll un-assign myself and let someone else grab it!

[2018-10-22 16:27] coreymcollins commented on #413
I think it probably makes sense to roll this as an ACF Block as well. The markup and classes can be kept global enough to add to a template as static content, but why not go the next step and add a reusable block as well?

We've used that a number of times recently as well.

[2018-10-22 19:53] vividh commented on #415
I would like to take this. I'll give GPlus a proper burial. 😄

[2018-10-23 02:13] mrcubsfan34 opened #417 "I will take a look at this tomorrow when I wake up."
I will take a look at this tomorrow when I get up in the morning. It looks like a really, cool API.

[2018-10-23 19:21] mharis commented on #417
Hey @mrcubsfan34,

Thank you for your interest in `wd_s`. We appreciate it.

I'll close this ticket out and recommend starring our project for bookmarking purposes.

Thanks!

[2018-10-23 19:21] #417 closed, assigned to nobody

[2018-10-24 16:49] #415 closed, assigned to mharis

[2018-10-25 21:07] mharis opened #421 "Document copyright_year shortcode in wiki"
Refer to https://github.com/WebDevStudios/wd_s/pull/379

[2018-10-26 13:39] coreymcollins opened #422 "Documentation: Add notes around use of pagination template tag"
Refer to #411

[2018-10-26 13:40] coreymcollins opened #423 "Documentation: Add notes around updated menu functions"
Refer to #410

[2018-10-26 13:41] coreymcollins opened #424 "Documentation: Update ACF Content Blocks"
Refer to #409

[2018-10-26 13:42] coreymcollins opened #425 "Documentation: OG Meta Tags"
Add documentation to detail the template tag and its removal if using Yoast or some other plugin providing OG meta tags.

Refer to #398

[2018-10-26 13:43] coreymcollins opened #426 "Documentation: ACF Block Settings"
Update screenshots and details around settings to reflect latest updates.

Refer to #396

This is also somewhat related to #424, so if you're going to grab one please grab the other to update all of the ACF documentation at once. Thanks!

[2018-10-26 13:46] coreymcollins opened #427 "Documentation: Post Meta Search Filters"
Since we do document our template tags, maybe it's a good idea to also document our hooks and filters. This one in particular allows for the searching of post meta, i.e. our ACF Content Block data.

It may need to be removed if we're using some kind of advanced search solution like Search WP which offers more robust search options than WordPress' default search, so documenting it probably makes se

[2018-10-26 14:25] coreymcollins commented on #422
Added here: https://github.com/WebDevStudios/wd_s/wiki/Template-Tags#display-numeric-pagination

[2018-10-26 14:25] #422 closed, assigned to coreymcollins

[2018-10-26 14:52] coreymcollins commented on #425
Added here: https://github.com/WebDevStudios/wd_s/wiki/Hooks#og-meta-tags

[2018-10-26 14:52] #425 closed, assigned to coreymcollins

[2018-10-26 15:51] jomurgel commented on #424
I've made several updates to the documentation [here](https://github.com/WebDevStudios/wd_s/wiki/ACF-Content-Blocks).

Including:
- Added a new screenshot for "other options".
- Added notations for the new color picker and links to the defining functions.
- Added notations for the animation dropdown — link to animate.css.
- Added notations for the Start/End date and function.
- Centered the gif of

[2018-10-26 16:04] coreymcollins commented on #424
Nice work! I also added screenshots of the Animation drop down options and the Date Picker since the Color Picker had screenshot and I figured it couldn't hurt since all three fields show/do something on click.

Going to close this one out – thanks!

[2018-10-26 16:04] #424 closed, assigned to nobody

[2018-10-26 16:10] jomurgel opened #429 "Replace hidden elements with SRT classes & ARIA labels"
Note from Corey in #382.

This seemed like an update that we should move into it's own issue as it requires discussion about original intent and an audit of elements that might also need to be updated.

[2018-10-26 16:49] coreymcollins commented on #427
Added a new page here to detail our custom search functionality: https://github.com/WebDevStudios/wd_s/wiki/Extending-Default-Search-Functionality

[2018-10-26 16:49] #427 closed, assigned to coreymcollins

[2018-10-26 19:20] #413 closed, assigned to coreymcollins

[2018-10-26 19:45] coreymcollins opened #431 "Documentation: Update docs around /inc/ files"
Let's beef up the documentation around our `/inc/` directory. This has started already with the addition of a [Extras](https://github.com/WebDevStudios/wd_s/wiki/Extras) and [Hooks](https://github.com/WebDevStudios/wd_s/wiki/Hooks) pages to the wiki, but let's go through the files and add documentation for the functions and functionality within those files.

Refer to #430 for some good starting po

[2018-10-30 16:27] mharis opened #434 "Social Media Widget"
We should add a social media wordpress widget or support to add social media/icons to WP menu links.

[2018-10-30 20:48] mharis commented on #389
Add ability to write all Saas code in pixels and convert to rem/em or leave as pixels based on our rules defined here:
![image](https://user-images.githubusercontent.com/601054/47749477-ff460800-dcae-11e8-8e50-04e218d18f96.png)

[2018-10-30 20:57] mharis opened #435 "Outline on Firefox"
More research required:

The outline on Firefox apparently takes the link color and it is thinner than other browers (e.g. chrome). We may want to research into it and decide if we should implement a more accessible option.

![image](https://user-images.githubusercontent.com/601054/47750077-5ef0e300-dcb0-11e8-900d-600df7b8575b.png)

[2018-10-31 13:32] coreymcollins commented on #434
We have added some support for social networks in a couple of themes in the past when social links are needed in a menu-type situation. I haven't had to do it consistently, so it was never added to `wd_s` core but if we think it'd be useful we could add it in.

Basically, we loop through our social networks set in a `$social-sites` Sass list targeting the `href` of the link and adding the icon tha

[2018-10-31 13:39] coreymcollins commented on #434
(this is obviously a bit of an older example with that pesky `googleplus` in there :laughing: )

[2018-10-31 13:59] coreymcollins commented on #429
@gregrickaby do you remember at all why we are hiding post titles on archive/search results pages if they're set to Post Format "Aside"? Might just be a carry-over from `_s`, and I know we don't use Post Formats often (ever?), so I'm guessing it's something that's just been around forever.

As Jo noted above, my note in the other task was to conditionally add classes for `screen-reader-text` and s

[2018-10-31 14:23] coreymcollins commented on #435
@Cheffheid put together a CodePen showing some of this off: https://codepen.io/Cheffheid/full/ePwYZa/

It looks like actual `<button>` elements get a black outline, but you can see the text links getting the special outline color.

I forked his Pen and created one here with the common use-case of a link styled as a button: https://codepen.io/coreymcollins/pen/wYLYRd

It looks like here, the outlin

[2018-11-13 20:41] jomurgel commented on #389
I went through and tested this but ended up getting errors on bundle. I ended up adding inline-ignores for empty blocks inside the `_modal.scss`,`_typography.scss`, and the `_wds-cta.scss` partials.

I also updated the `.stylelintrc` setting for `sh-waqar/declaration-use-variable` which adds `inherit` to the list of ignores, which is used in a couple places.

[2018-11-13 22:04] jomurgel commented on #389
Kind of wondering if something like this would serve our purpose for unit conversion. https://github.com/putneydm/pixelstorem

Might have to write our own PostCSS plugin to do what we need.

[2018-11-14 19:36] jomurgel commented on #389
I fixed a couple of issue with BrowserSync, including adding the `reloadDebounce: 2000` setting to prevent BrowserSync from reloading every second. This solved a few issues, but I'm still getting this issue after some time has elapsed.

![screenshot_2018-11-14_12_31_51](https://user-images.githubusercontent.com/5230729/48507602-9bbcee00-e809-11e8-9226-60a4e8d66e50.jpg)

I can't seem to track down

[2018-11-14 19:36] jomurgel commented on #389
This is what I'm working on currently to convert `px` to `em` or `rem` based on some defaults.
[code]
https://github.com/jomurgel/postcss-unit-conversion

I need to do more testing but a basic test seems to be working as expected converting `text-shadow: 2px 2px #f00;`, for example, to `text-shadow: 0.125em 0.125em #f00;`

As of this moment I'm only really taking those defaults and converting `em`

[2018-11-23 21:32] mharis commented on #389
In my latest commit, I did research on how to set it up and it took a lot of time. We'll need to use webpack-dev-server with proxy which is now ready and will be triggered with `npm start` but it will not load styles and scripts.

We might need to use https://www.npmjs.com/package/extract-css-chunks-webpack-plugin to load the css.

[2018-11-23 21:52] mharis commented on #389
Alright, `webpack-dev-server` is now setup with hot reloading. All you have to do is run `npm start` and it will handle it.

:+1:

[2018-11-26 21:23] jomurgel opened #438 "Audit Grid"
We've had several iterations of our grid with/without Neat. We still utilize a grid, or grid classes, for styling our theme. However, I'm not sure these are even used and/or are ignored when we get into scaffolding. I say this mostly because styles for the `template-sidebar-right.php` utilizes styles inside `_layout.scss` and not our presentational classes.
- https://github.com/WebDevStudios/wd_s/